<link href="assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" type="text/css" />

<style>
    td {
        vertical-align: middle !important;
    }

    .row {
        margin-top: 10px !important;
    }
</style>

<div class="page-head">
    <div class="page-title col-md-12">
        <h1>
            Optik Yükle <span onclick="YardimGoster(ID_MENU);" class="pull-right" style="cursor:pointer;"><img src="assets/global/img/info.gif" class="info-image-icon" /> </span>
        </h1>
    </div>
</div>

<div class="row" id="app">
    <div class="col-md-12" id="filtre_div">
        <div class="portlet box green-haze dd-item" style="border:none">
            <div class="portlet-title dd-handle" data-toggle='collapse' data-target='#filters' style="cursor:pointer;">
                <div class="caption">
                    <i class="icon-magnifier"></i>
                    <span class="caption-subject bold uppercase"> Filtreler </span>
                    <span class="caption-helper"></span>
                </div>
                <div class='actions'>
                    <a href='javascript:;' class='btn btn-default btn-sm' id="filtreAc" style='border:none;'>
                        <i class='fa fa-chevron-down'></i>
                    </a>
                </div>
            </div>
            <div class="portlet-body form collapse in" id="filters">
                <form role="form" style="padding:12px 20px">
                    <div class="form-body form-horizontal row">

                        <div class="form-body form-horizontal">

                            <div class="row">
                                <c-sube controller="OptikYukle"
                                        @OnChange="SubeSelected">
                                </c-sube>
                            </div>

                            <div class="row">
                                <c-donem controller="OptikYukle"
                                         @OnChange="DonemSelected">
                                </c-donem>
                            </div>                           
                            <div class="row">
                                <c-sinavgrup2 controller="OptikYukle"
                                              :idsube="ID_SUBE"
                                              :id_kademe3="ID_KADEME3"
                                              @OnChange="SinavGrupSelected">
                                </c-sinavgrup2>
                            </div>
                            <div class="row">
                                <c-sinav-donem-unite :controller="controller"
                                                     :donem="DONEM"
                                                     :id_kademe3="ID_KADEME3"
                                                     @OnChange="SinavSelected">
                                </c-sinav-donem-unite>
                            </div>
                          
                            <div class="form-group" style="margin-top:10px;">
                                <div class="col-md-12 text-right">
                                    <button type="button" class="btn green" @click="DosyaListele();">Dosya Listele</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-12" v-if="DOSYALISTESI!=null">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-list font-green"></i>
                    <span class="caption-subject bold font-green uppercase"> Dosya Listesi </span>
                    <span class="caption-helper"></span>
                </div>
                <div class="tools" style="color:#32c5d2!important;">
                    <!--<span style="cursor:pointer;" data-toggle='modal' href='#dosya_modal' title="Dosya Ekle">Dosya Ekle<i class="fa fa-lg fa-plus-circle" style="margin-left:10px;" /></span>-->
                    <div class="row" style="margin:0px;">
                        <div class="form-md-line-input" style="line-height:44px; vertical-align:middle;">
                            <div v-if="(YUKLEMEKAPAT==false && FULLYETKILI==false) ||(FULLYETKILI == true)">
                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                    <span class="fileinput-preview thumbnail" style="max-width: 1000px; max-height: 1000px;"> </span>
                                    <span>
                                        <span class="btn default btn-file">
                                            <span class="fileinput-new"> Dosya Seç</span>
                                            <span class="fileinput-exists"> Değiştir </span>
                                            <input type="file" name="..." accept="text/plain" id="Dosya" data-preview-file-type="text">
                                        </span>
                                        <a href="javascript:;" class="btn yellow fileinput-exists" @click="OzelOptikTanimla()" v-if="FULLYETKILI==true"> Özel Optik Tanımla </a>
                                        <a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput"> Sil </a>
                                        <a href="javascript:;" @click="DosyaKaydet()" class="btn green fileinput-exists" data-dismiss="modal"> Tamam </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- BEGIN PORTLET-->
            <div class="pull-right" v-if="(YUKLEMEKAPAT==false && FULLYETKILI==false) ||(FULLYETKILI == true)">
                <a v-if="cokluTCsayisi>0" data-toggle='modal' href='#TcEslestir_modal' class='btn btn-sm yellow' @click="TekrarEden()" title="Düzenle">Tekrar Eden TC ({{cokluTCsayisi}})</a>
                <a v-if="cokluTCsayisi>0 && BURSLULUK" data-toggle='modal' href='#TcEslestir_modal' class='btn btn-sm yellow' @click="TekrarEdenExcel()" title="Düzenle">Tekrar Eden TC Excel  ({{cokluTCsayisi}})</a>
            </div>
            <div class="pull-right" v-if="(YUKLEMEKAPAT==false && FULLYETKILI==false) ||(FULLYETKILI == true)">
                <a v-if="DURUM!=2 && DOSYALISTESI.length>0" class='btn btn-sm yellow' href='javascript:;' @click="Degerlendir()" title="Değerlendir">Değerlendir</a>
            </div>
            <div class="portlet-body form" v-if="DOSYALISTESI.length>0">
                <form role="form">
                    <div class="portlet light bordered">
                        <div class="portlet-body">
                            <table class="table table-striped table-bordered table-checkable" id="dosyatable">
                                <thead>
                                    <tr>
                                        <th>DOSYA ADI</th>
                                        <th>AD - SOYAD</th>
                                        <th>ŞUBE</th>
                                        <th>KATILIM</th>
                                        <th>SORUNLU TC</th>
                                        <!--<th>TEKRARLAYAN TC</th>-->
                                        <th>TARİH</th>
                                        <th>İŞLEM</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="u in DOSYALISTESI">
                                        <td>{{u.AD}}</td>
                                        <td>{{u.KAD + ' '+ u.KSOYAD}}</td>
                                        <td>{{u.SUBEAD}}</td>
                                        <td>{{u.KATILIM}}</td>
                                        <td>{{u.SORUNLUTC}}</td>
                                        <!--<td>{{u.TEKRARLAYANTC}}</td>-->
                                        <td>{{u.KYE_TARIH}}</td>
                                        <td>
                                            <div v-if="(YUKLEMEKAPAT==false && FULLYETKILI==false) ||(FULLYETKILI == true)">
                                                <a @click='Sil(u.ID_SINAVDOSYA)' class='btn btn-sm red' v-if="u.AD != 'ONLINE'"> SİL <i class='fa fa-trash'></i></a>
                                                <a data-toggle='modal'
                                                   class='btn btn-sm green'
                                                   href='#TcEslestir_modal'
                                                   @click="TcKontrol(u.ID_SINAVDOSYA)"
                                                   title="Tc Eşleştir"
                                                   v-if="!BURSLULUK && u.AD != 'ONLINE'">
                                                    Tc Eşleştir
                                                </a>
                                                <!--<a data-toggle='modal' class='btn btn-sm green' href='#TcEslestir_modal' @click="TekrarEden(u.ID_SINAVDOSYA)" title="Tc Kimlik Numarası Tekrar Eden Öğrenciler">TEKRAR EDEN</a>-->
                                                <a data-toggle='modal'
                                                   class='btn btn-sm green'
                                                   href='#optik_modal'
                                                   @click="OptikDosyaIcerik(u.ID_SINAVDOSYA)"
                                                   title="Optik Gör"
                                                   v-if="u.AD != 'ONLINE'">
                                                    Optik Gör
                                                </a>

                                                <a @click='OptikIndir(u)' class='btn btn-sm blue'> İndir <i class='fa fa-download'></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
            <!--<div v-else>Hiç dosya yüklenmemiş. İlk dosyayı yüklemek için <span class="btn btn-sm green" data-toggle='modal' href='#dosya_modal'>tıklayınız...</span></div>-->
            <!-- END PORTLET-->
        </div>
    </div>

    <div id="TcEslestir_modal" class="modal fade in" role="dialog" aria-hidden="true" tabindex="-1" data-replace="true">
        <div class="modal-dialog modal-full">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">{{BASLIK}}</h4>
                </div>

                <div class="modal-body">

                    <div class="form-body form-horizontal">

                        <div class="portlet light col-md-12">
                            <!--<div class="portlet-title col-md-12">
                                <div class="caption">
                                    <i class="icon-list font-green"></i>
                                    <span class="caption-subject bold font-green uppercase"> Öğrenci Eşleştirme Listesi </span>
                                    <span class="caption-helper"></span>
                                </div>
                            </div>-->
                            <div class="col-md-12" style="padding:0px;">
                                <!-- BEGIN PORTLET-->
                                <div class="portlet-body form col-md-6">
                                    <form role="form">
                                        <div class="portlet light bordered">
                                            <div class="portlet-body">
                                                <table class="table table-striped table-bordered table-hover table-checkable" style="font-size:x-small; cursor:pointer" id="TblEslesmeyen">
                                                    <thead>
                                                        <tr>
                                                            <th style="font-size:x-small">TC KİMLİK NO</th>
                                                            <th style="font-size:x-small">ADI</th>
                                                            <th style="font-size:x-small">SOYADI</th>
                                                            <th style="font-size:x-small">DOSYA ADI</th>
                                                            <th style="font-size:x-small">SUBE NO</th>
                                                            <th style="font-size:x-small">SUBE ADI</th>
                                                            <th style="font-size:x-small">SINIFI</th>
                                                            <th style="font-size:x-small">İŞLEMLER</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr :id="u.ID_SINAVOPTIKTEMP" class="odd gradeX" v-for="u in EslesmyenOgrenciListesi">
                                                            <td style="font-size:x-small"><input type="text" class="form-control" style="text-align:center;" v-model="u.TCKIMLIKNO" maxlength="11" onkeypress='return event.charCode >= 48 && event.charCode <= 57' /></td>
                                                            <td style="font-size:x-small">{{u.AD}}</td>
                                                            <td style="font-size:x-small">{{u.SOYAD}}</td>
                                                            <td style="font-size:x-small" v-if="u.DOSYAAD!=null" :title="u.LINE">{{u.DOSYAAD}}</td>
                                                            <td style="font-size:x-small">{{u.SUBENO}}</td>
                                                            <td style="font-size:x-small">{{u.SUBEAD}}</td>
                                                            <td style="font-size:x-small">{{u.SINIF}}</td>
                                                            <td style="font-size:x-small">
                                                                <button type="button" style="font-size:x-small; display:inline-block;" class="btn green btn-xs" @click="TcGuncelle(u.ID_SINAVOPTIKTEMP, u.TCKIMLIKNO)">KAYDET</button>
                                                                <button type="button" style="font-size:x-small; display:inline-block;" class="btn red btn-xs" @click="OptikSatirSil(u.ID_SINAVOPTIKTEMP)">SİL</button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="portlet-body form col-md-6">
                                    <form role="form">
                                        <div class="portlet light bordered">

                                            <div class="portlet-body">
                                                <c-sinavgrup2 controller="OptikYukle"
                                                              :idsube="ID_SUBE"
                                                              :id_kademe3="OL_IDKADEME3"
                                                              @OnChange="SinavGrupEslestirSelected">
                                                </c-sinavgrup2>
                                            </div>
                                            <div class="portlet-body">
                                                <table class="table table-striped table-bordered table-hover table-checkable" style="font-size:x-small; cursor:pointer;" id="TblOgrenci">
                                                    <thead>
                                                        <tr>
                                                            <th style="font-size:x-small">TC KİMLİK NO</th>
                                                            <th style="font-size:x-small">ADI</th>
                                                            <th style="font-size:x-small">SOYADI</th>
                                                            <th style="font-size:x-small">SUBE NO</th>
                                                            <th style="font-size:x-small">SUBE ADI</th>
                                                            <th style="font-size:x-small">SINIFI</th>
                                                            <th style="font-size:x-small">EŞLEŞTİR</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr id="u.TCKIMLIKNO" class="odd gradeX" style="font-size:x-small" v-for="u in OgrenciListesi">
                                                            <td style="font-size:x-small">{{u.TCKIMLIKNO}}</td>
                                                            <td style="font-size:x-small">{{u.AD}}</td>
                                                            <td style="font-size:x-small">{{u.SOYAD}}</td>
                                                            <td style="font-size:x-small">{{u.SUBENO}}</td>
                                                            <td style="font-size:x-small">{{u.SUBEAD}}</td>
                                                            <td style="font-size:x-small">{{u.SINIF}}</td>
                                                            <td style="font-size:x-small"><button type="button" style="font-size:x-small" class="btn green btn-xs" @click="Eslestir(u.TCKIMLIKNO)">Eşleştir</button></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- END PORTLET-->
                        </div>


                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn default" data-dismiss="modal">Kapat</button>
                    <!-- <button type="button" class="btn green" data-dismiss="modal" @click="DosyaKaydet">Tamam</button>-->
                </div>
            </div>
        </div>
    </div>
    <div id="optik_modal" class="modal fade in" tabindex="-1" data-replace="true">
        <div class="modal-dialog modal-full">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Optik Dosya Görüntüle</h4><small> <font color="red">Cevap Anahtarı Değiştirilemez....</font>  </small>
                </div>

                <div class="modal-body">

                    <div class="form-body form-horizontal">

                        <div class="row" style="margin:0px;">
                            <div class="portlet-body form col-md-12">
                                <form role="form">
                                    <div class="portlet light bordered">
                                        <div class="portlet-body">
                                            <table class="table table-striped table-bordered table-hover table-checkable"
                                                   data-height="700"
                                                   data-width="100%"
                                                   style="margin-bottom:0px; color:#111; width:100%;"
                                                   id="TblOptik">
                                                <thead id="thOptik">
                                                </thead>
                                                <tbody id="tbOptik"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn default" data-dismiss="modal">Kapat</button>
                    <button type="button" class="btn green" data-dismiss="modal" @click="OptikDosyaIcerikDuzenle()">Kaydet</button>
                </div>
            </div>
        </div>
    </div>
    <div id="editOptik_modal" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Düzenle</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p>
                                <input type="text" class="col-md-12 form-control" v-model="editCell">
                            </p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn dark btn-outline">Close</button>
                    <button type="button" class="btn yellow" @click="editModal()">Ok</button>
                </div>
            </div>
        </div>
    </div>
    <div id="OzelOptikTanimlaModal" class="modal fade" tabindex="-1" data-replace="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Optik Tanımla</h4>
                </div>
                <div class="modal-body">
                    <div class="form-body form-horizontal">
                        <div class="portlet-body form" v-if="OPTIKLISTESI.length>0">
                            <form role="form">
                                <table class="table table-striped table-bordered table-checkable" id="optiktable">
                                    <thead>
                                        <tr>
                                            <th style="text-align:left;">KOLON ADI</th>
                                            <th>BAŞLANGIÇ</th>
                                            <th>KARAKTER SAYISI</th>
                                        </tr>
                                    </thead>
                                    <tbody v-for="u in OPTIKLISTESI">
                                        <tr>
                                            <td style="text-align:left;">{{u.AD}}</td>
                                            <td><input type="text" class='form-control' style="text-align:center;" v-model="u.BASLANGIC" onkeypress='return event.charCode >= 44 && event.charCode <= 57' onclick='javascript: if(this.value==0)this.value = ""' /></td>
                                            <td><input type="text" class='form-control' style="text-align:center;" v-model="u.KARAKTERSAYISI" onkeypress='return event.charCode >= 44 && event.charCode <= 57' onclick='javascript: if(this.value==0)this.value = ""' /></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="padding-top:0px!important;">
                    <button type="button" class="btn default" data-dismiss="modal">Kapat</button>
                    <button type="button" class="btn green" data-dismiss="modal" @click="DosyaKaydet">Kaydet ve Yükle</button>
                </div>
            </div>
        </div>
    </div>
    

</div>

<script src="VueComponents/SubeGrupSinif.js?v=3"></script>
<script src="VueComponents/SinavFiltreleri.js?v=4"></script>

<script>
    function downloadFile(filePath) {
        var link = document.createElement('a');
        link.href = filePath;
        link.download = filePath.substr(filePath.lastIndexOf('/') + 1);
        link.click();
    }
    function downloadString(text, fileType, fileName) {
        var blob = new Blob([text], { type: fileType });

        var a = document.createElement('a');
        a.download = fileName;
        a.href = URL.createObjectURL(blob);
        a.dataset.downloadurl = [fileType, a.download, a.href].join(':');
        a.style.display = "none";
        document.body.appendChild(a);
        a.click();
        document.body.removeChild(a);
        setTimeout(function () { URL.revokeObjectURL(a.href); }, 1500);
    }

    var vue = new Vue({
        el: "#app",
        name: "OptikYukle.html",

        data: {
            DONEM: '',
            ID_SINAVTURU: 0,
            ID_KADEME3: 0,
            OL_IDKADEME3: 0,
            ID_SINAV: 0,
            ID_SUBE: 0,
            DURUM: 0,
            DOSYALISTESI: null,
            TIMER: null,
            OTURUM: '1',
            t1: [],
            t2: [],
            idSinav: 0,
            controller:'UniteOptikYukle',
            optikIcerik: '',
            divTcEslestir: 0,
            EslesmyenOgrenciListesi: [],
            CokluTCListesi: [],
            OgrenciListesi: [],
            seciliID: 0,
            sinavDosya: '',
            editCell: '',
            editSeciliID: 0,
            editSeciliKolonAdi: '',
            editTabloID: 0,
            editList: [],
            ilkgiris: true,
            BASLIK: '',
            cokluTCsayisi: 0,
            OPTIKLISTESI: [],
            OPTIKLISTESIMEVCUT: [],

            FULLYETKILI: false,
            ListKullaniciTipi: [],
            YUKLEMEKAPAT: false,
            BURSLULUK_IDSINAVTURU: 12,
            BURSLULUK: false,
            tcEslestirModul: '',
            OnlineOptik: '',
        },

        mounted() {
            vue = this;
            this.ListeOlustur('TblEslesmeyen');
            this.ListeOlustur('TblOgrenci');

            $('#dosyatable').DataTable({
                "aLengthMenu": [
                    [15, 20, -1],
                    [15, 20, "Hepsi"] // change per page values here
                ],
                "aaSorting": [[5, 'desc']],
                language: {
                    "url": "./Utility/dil.json"
                },
            });

            $('#TblEslesmeyen tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                    vue.seciliID = 0;
                }
                else {
                    $('#TblEslesmeyen tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                    vue.seciliID = parseInt($(this).attr("id"));
                }
            });
            $('#TblOgrenci tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                }
                else {
                    $('#TblOgrenci tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
            });

            $('#TblOptik tbody').on('click', 'tr', function () {
                vue.editSeciliID = parseInt($(this).attr("id"));
            });
            $('#TblOptik').on('click', 'td', function () {
                //console.log($("#TblOptik").DataTable().cell(this, this).data());
                vue.editCell = $("#TblOptik").DataTable().cell(this, this).data();
                vue.editSeciliKolonAdi = $(this).attr("idkolonadi");
                vue.editTabloID = $(this).attr("id");
                $("#editOptik_modal").modal();
            });

            this.$nextTick(function () {
                if (parseInt(getParameterByName("ID_SINAV")) > 0) {
                    var p = {
                        TCKIMLIKNO: session.TCKIMLIKNO,
                        OTURUM: session.OTURUM,
                        ID_SINAV: parseInt(getParameterByName("ID_SINAV")),
                    };

                    WebPost(this, "OptikYukle", "OptikDosyaGor", p, '#sinavtable', 'Yükleniyor..', function (data, parent) {
                        if (data != null) {
                            var k = JSON.parse(data)[0];

                            parent.ID_SUBE = 0;
                            parent.DONEM = k["DONEM"];
                            parent.ID_SINAVTURU = parseInt(k["ID_SINAVTURU"]);
                            parent.ID_KADEME3 = parseInt(k["ID_KADEME3"]);
                            parent.OTURUM = 1;
                            parent.idSinav = (parseInt(getParameterByName("ID_SINAV")));
                        }
                    });
                }
                WebPost(this, "OptikYukle", "KullaniciTipiGetir", { TCKIMLIKNO: session.TCKIMLIKNO, OTURUM: session.OTURUM }, "#app", "Yükleniyor...", function (data, parent) {
                    if (data != null) {
                        var list = [];
                        $.each(data, function (j, el) {
                            list.push(this.ID_KULLANICITIPI)
                        });
                        parent.ListKullaniciTipi = list;
                        if (list.indexOf(1) > -1 || list.indexOf(60) > -1) // ADMİN VEYA ÖD İSE 1 DEĞİLSE
                            parent.FULLYETKILI = true;
                        else
                            parent.FULLYETKILI = false;

                    } else {
                        Alert_Warning("Kullanıcı Bulunamadı..!");
                    }
                });

            });
        },

        methods: {
            DonemSelected(DONEM) {
                this.DONEM = DONEM;
                this.divTcEslestir = 0;
            },
            SinavGrupSelected(ID_KADEME3) {
                this.ID_KADEME3 = ID_KADEME3;
                this.OL_IDKADEME3 = ID_KADEME3;
                this.divTcEslestir = 0;
                this.ID_SINAV = 0;
                this.idSinav = 0;
            },
            SinavGrupEslestirSelected(ID_KADEME3) {
                this.OL_IDKADEME3 = ID_KADEME3;
                if (this.tcEslestirModul == "TcKontrol") {
                    this.TcKontrol(this.ID_SINAVDOSYA);
                }
                else if (this.tcEslestirModul == "TekrarEden") {
                    this.TekrarEden();
                }
                else if (this.tcEslestirModul == "TekrarEdenExcel") {
                    this.TekrarEdenExcel();
                }
            },
            SinavTuruSelected(ID_SINAVTURU) {
                this.ID_SINAVTURU = ID_SINAVTURU
                this.divTcEslestir = 0;
                this.ID_SINAV = 0;
                this.idSinav = 0;
                this.BURSLULUK = this.ID_SINAVTURU == this.BURSLULUK_IDSINAVTURU;

            },
            SinavSelected(ID_SINAV) {
                this.ID_SINAV = ID_SINAV;
                this.idSinav = ID_SINAV;
                if (ID_SINAV > 0) {
                    this.OPTIKBELLIMI(ID_SINAV);
                    this.OptikListele();
                }
                this.divTcEslestir = 0;
            },
            SubeSelected(ID_SUBE) {
                this.ID_SUBE = ID_SUBE;
            },
            OturumSelected(OTURUM) {
                this.OTURUM = OTURUM;
                this.divTcEslestir = 0;
            },
            OptikIndir(item) {
                if (item.AD == "ONLINE") {
                    var p = {
                        TCKIMLIKNO: session.TCKIMLIKNO,
                        OTURUM: session.OTURUM,
                        ID_SINAV: this.ID_SINAV,
                        SINAVOTURUM: this.OTURUM,
                    };
                    this.OnlineOptik = "";
                    WebPost(this, "OptikYukle", "OptikIndir", p, '#app', 'Yükleniyor..', function (data, parent) {
                        downloadString(data, "txt", parent.ID_SINAV.toString() + '_' + parent.OTURUM.toString() + '_' + "ONLINEOPTIK")                      
                    });
                }
                else {
                    downloadFile("Dosyalar/SinavOptik/" + item.GUID);
                    //window.open("Dosyalar/SinavOptik/" + item.GUID);
                }
            },
            DosyaListele() {
                var _this = this;
                this.divTcEslestir = 0;
                this.cokluTCsayisi = 0;
                if (this.FULLYETKILI == false && this.ID_SUBE == 0) {
                    Alert_Warning("Öncelikle Şubenizi Seçmelisiniz!");
                }

                else if (this.ID_SINAV == 0 || this.ID_SINAV == undefined) {
                    Alert_Warning("Öncelikle Sınav Seçmelisiniz!");
                } else {
                    if (this.ilkgiris)
                        $('#filtreAc').click();//$('#filters').collapse('hide');
                    this.ilkgiris = false;
                    var p = {
                        TCKIMLIKNO: session.TCKIMLIKNO,
                        OTURUM: session.OTURUM,
                        ID_SINAV: this.ID_SINAV,
                        ID_SUBE: this.FULLYETKILI == true ? 0 : this.ID_SUBE,//this.ID_SUBE,
                        SINAVOTURUM: this.OTURUM,
                    };
                    _this.DOSYALISTESI = [];
                    WebPost(this, "UniteOptikYukle", "DosyaListele", p, '#app', 'Yükleniyor..', function (data, parent) {
                        if (data != null) {
                            _this.DOSYALISTESI = data;
                            _this.DURUM = parseInt(data[0].DURUM);
                            _this.YUKLEMEKAPAT = this.FULLYETKILI == true ? false : data[0].YUKLEMEKAPAT;


                            if (data[0].DURUM == 2) {
                                _this.TIMER = clearInterval(_this.TIMER);;
                            }
                            $("#dosyatable").DataTable().destroy();

                            var p2 = {
                                TCKIMLIKNO: session.TCKIMLIKNO,
                                OTURUM: session.OTURUM,
                                ID_SINAV: _this.ID_SINAV,
                                ID_SUBE: 0,//this.ID_SUBE,
                                SINAVOTURUM: parseInt(_this.OTURUM),
                            };
                            WebPost(parent, "OptikYukle", "SorunluTcSayilariniGetir", p2, '', 'Yükleniyor..', function (data, parent2) {
                                if (data != null) {
                                    _this.cokluTCsayisi = parseInt(JSON.parse(data)[0]["TE_TC"]);
                                }
                            })
                        }
                        else {
                            Alert_Warning("Liste Bulunamadı!");
                        }
                    })


                }
            },
            DosyaKaydet() {
                var guid = '';
                var dosyaadi = '';
                var _this = this;
                if (this.FULLYETKILI == false && this.ID_SUBE == 0) {
                    Alert_Warning("Öncelikle Şubenizi Seçmelisiniz!");
                }
                else if (this.ID_SINAV == 0) {
                    Alert_Warning("Öncelikle Sınav Seçmelisiniz!");
                } else {
                    var dosya = document.getElementById('Dosya').files;
                    dosyaadi = $("#Dosya").val().replace(/^.*[\\\/]/, '');
                    if (dosya.length == 0) {
                        Alert_Info('Lütfen Dosya Seçiniz.');
                        return;
                    }

                    var OPTIK = new Array();

                    if (JSON.stringify(this.OPTIKLISTESI) != JSON.stringify(this.OPTIKLISTESIMEVCUT)) {
                        for (var i = 0; i < this.OPTIKLISTESI.length; i++) {
                            var o = new Object();
                            o.b1 = this.OPTIKLISTESIMEVCUT[i].BASLANGIC;
                            o.b2 = this.OPTIKLISTESI[i].BASLANGIC;
                            o.k1 = this.OPTIKLISTESIMEVCUT[i].KARAKTERSAYISI;
                            o.k2 = this.OPTIKLISTESI[i].KARAKTERSAYISI;
                            OPTIK.push(o);
                        }
                    }

                    SinavOptikYukle(dosya, OPTIK.length > 0 ? JSON.stringify(OPTIK) : "", function (response) {
                        var json = JSON.parse(response);
                        if (json.success) {
                            $('.fileinput').fileinput("clear");
                            _this.OPTIKLISTESI = JSON.parse(JSON.stringify(_this.OPTIKLISTESIMEVCUT));
                            guid = json.guid;
                            if (guid.length > 0) {
                                var p = {
                                    TCKIMLIKNO: session.TCKIMLIKNO,
                                    OTURUM: session.OTURUM,
                                    ID_UNITESINAV: vue.ID_SINAV,
                                    ID_SUBE: vue.ID_SUBE,
                                    DOSYAADI: dosyaadi,
                                    DOSYAGUID: guid,
                                };
                                WebPost(vue, "UniteOptikYukle", "DosyaKaydet", p, '', '', function (data, vue) {
                                    App.unblockUI();
                                    if (data != null) {
                                        Alert_Info("Kaydedildi.");
                                        vue.DosyaListele();

                                        if (!vue.BURSLULUK) {
                                            $("#TcEslestir_modal").modal();
                                            vue.TcKontrol(data);
                                        }

                                    }
                                    else {
                                        console.log('else')
                                        Alert_Warning("Bir hata oluştu!");
                                    }
                                })
                            } else {
                                Alert_Warning("Dosya yüklemede bir hata oluştu! Lütfen tekrar deneyiniz...");
                            }
                        }
                    });
                }
            },
            Sil(ID_SINAVDOSYA) {
                Alert_Confirm("Emin misiniz?", "Dosya Silinsin mi?", function () {
                    var p = { TCKIMLIKNO: session.TCKIMLIKNO, OTURUM: session.OTURUM, ID_SINAVDOSYA: ID_SINAVDOSYA };
                    WebPost(vue, "OptikYukle", "DosyaSil", p, '', '', function (data, parent) {
                        if (data == true) {
                            parent.divTcEslestir = 0;
                            parent.DosyaListele();
                        }
                    });
                });
            },
            OPTIKBELLIMI(ID_SINAV) {
                var p = { TCKIMLIKNO: session.TCKIMLIKNO, OTURUM: session.OTURUM, ID_UNITESINAV: ID_SINAV };
                WebPost(vue, this.controller, "OptikBelliMi", p, '', '', function (data, parent) {
                    if (data != true) {
                        if (parent.FULLYETKILI == true) {
                            Alert_OkConfirm("UYARI", "Bu sınav için optik tanımlanmamış öncelikle optik tanımlayınız.", function () {
                                window.location.replace("#Sinav/OptikTanimla");
                            });
                        }
                        else {
                            Alert_Warnin("Bu sınav için optik tanımlanmamış öncelikle optik tanımlanması için Ölçme Değerlendirme personeline bildiriniz.")
                        }
                    }
                });
            },
            TcKontrol(item) {
                this.BASLIK = 'TC KİMLİK NO EŞLEŞTİR';
                this.tcEslestirModul = "TcKontrol";
                this.ID_SINAVDOSYA = item;
                this.divTcEslestir = 1;
                var _this = this;
                var p = {
                    TCKIMLIKNO: session.TCKIMLIKNO,
                    OTURUM: session.OTURUM,
                    ID_SINAVDOSYA: item,
                    ID_SINAV: this.ID_SINAV,
                    ID_KADEME3: this.OL_IDKADEME3,
                    ID_SUBE: this.ID_SUBE,
                    SINAVOTURUM: parseInt(this.OTURUM),
                };

                WebPost(this, "OptikYukle", "EslesmeyenOgrenciListeGetir", p, '#TcEslestir_modal', 'Yükleniyor..', function (data, parent) {
                    if (data) {
                        var parseddata = JSON.parse(data);
                        parent.EslesmyenOgrenciListesi = parseddata[0].t1;
                        if (parseddata[0].COKLUTC != undefined) {
                            parent.CokluTCListesi = parseddata[0].COKLUTC;
                        }
                        parent.OgrenciListesi = parseddata[0].t2;

                        $("#TblEslesmeyen").DataTable().destroy();
                        _this.$nextTick(function () {
                            _this.ListeOlustur('TblEslesmeyen');
                        });
                        $("#TblOgrenci").DataTable().destroy();
                        _this.$nextTick(function () {
                            _this.ListeOlustur('TblOgrenci');
                        });

                    }
                    else {
                        Alert_Warning("Liste Bulunamadı!");
                    }
                });
            },
            TekrarEden() {
                this.BASLIK = 'TC KİMLİK NO TEKRAR EDENLER';
                this.tcEslestirModul = "TekrarEden";
                //this.ID_SINAVDOSYA = item;
                this.divTcEslestir = 1;
                var _this = this;
                var p = {
                    TCKIMLIKNO: session.TCKIMLIKNO,
                    OTURUM: session.OTURUM,
                    ID_SINAV: this.ID_SINAV,
                    ID_KADEME3: this.OL_IDKADEME3,
                    ID_SUBE: this.ID_SUBE,
                    SINAVOTURUM: parseInt(this.OTURUM),

                };

                WebPost(this, "OptikYukle", "TekrarEdenOgrenciGetir", p, '#TcEslestir_modal', 'Yükleniyor..', function (data, parent) {
                    if (data) {
                        var parseddata = JSON.parse(data);
                        parent.EslesmyenOgrenciListesi = parseddata[0].t1;
                        if (parseddata[0].COKLUTC != undefined) {
                            parent.CokluTCListesi = parseddata[0].COKLUTC;
                        }
                        parent.OgrenciListesi = parseddata[0].t2;

                        $("#TblEslesmeyen").DataTable().destroy();
                        _this.$nextTick(function () {
                            _this.ListeOlustur('TblEslesmeyen');
                        });
                        $("#TblOgrenci").DataTable().destroy();
                        _this.$nextTick(function () {
                            _this.ListeOlustur('TblOgrenci');
                        });
                    }
                    else {
                        Alert_Warning("Liste Bulunamadı!");
                    }
                });
            },
            TekrarEdenExcel() {
                this.BASLIK = 'TC KİMLİK NO TEKRAR EDENLER';
                this.tcEslestirModul = "TekrarEdenExcel";
                this.divTcEslestir = 1;
                var _this = this;
                var p = {
                    TCKIMLIKNO: session.TCKIMLIKNO,
                    OTURUM: session.OTURUM,
                    ID_SINAV: this.ID_SINAV,
                    ID_KADEME3: this.OL_IDKADEME3,
                    ID_SUBE: this.ID_SUBE,
                    SINAVOTURUM: parseInt(this.OTURUM),
                };

                WebPost(this, "OptikYukle", "TekrarEdenOgrenciExcelGetir", p, '#TcEslestir_modal', 'Yükleniyor..', function (data, parent) {
                    if (data) {
                        var parseddata = JSON.parse(data);
                        parent.EslesmyenOgrenciListesi = parseddata[0].t1;
                        if (parseddata[0].COKLUTC != undefined) {
                            parent.CokluTCListesi = parseddata[0].COKLUTC;
                        }
                        parent.OgrenciListesi = parseddata[0].t2;

                        $("#TblEslesmeyen").DataTable().destroy();
                        _this.$nextTick(function () {
                            _this.ListeOlustur('TblEslesmeyen');
                        });
                        $("#TblOgrenci").DataTable().destroy();
                        _this.$nextTick(function () {
                            _this.ListeOlustur('TblOgrenci');
                        });
                    }
                    else {
                        Alert_Warning("Liste Bulunamadı!");
                    }
                });
            },
            Eslestir(tc) {
                var _this = this;
                if (this.seciliID == 0) {
                    Alert_Warning("Öncelikle Eşleşmemiş Öğrenci Seçiniz!");
                    return;
                }
                var p = {
                    TCKIMLIKNO: session.TCKIMLIKNO,
                    OTURUM: session.OTURUM,
                    ID_SINAVOPTIKTEMP: this.seciliID,
                    TC_OGRENCI: tc
                };

                WebPost(this, "OptikYukle", "Eslestir", p, '#divEslestir', 'İşlem Yapılıyor...', function (data, parent) {
                    if (data > -1) {
                        Alert_Info("Eşleştirme Tamamlandı...");

                        $('#TblEslesmeyen tr.selected').removeClass('selected');
                        $('#TblOgrenci tr.selected').removeClass('selected');


                        var result = $.grep(parent.EslesmyenOgrenciListesi, function (n, i) {
                            return n.ID_SINAVOPTIKTEMP != _this.seciliID;
                        });
                        parent.EslesmyenOgrenciListesi = result;

                        _this.seciliID = 0;
                        $("#TblEslesmeyen").DataTable().destroy();
                        _this.$nextTick(function () {
                            _this.ListeOlustur('TblEslesmeyen');
                        });

                    }
                    else {
                        Alert_Warning("Liste Bulunamadı!");
                    }
                });
            },
            ListeOlustur(tabloAdi) {
                var tblSorular = $('#' + tabloAdi).DataTable(
                    {
                        "aLengthMenu": [
                            [5, 15, 20, -1],
                            [5, 15, 20, "Hepsi"] // change per page values here
                        ],
                        "aaSorting": [[0, 'desc']],
                        language: {
                            "url": "./Utility/dil.json"
                        },
                    });
            },
            OptikDosyaIcerik(item) {
                var p = {
                    TCKIMLIKNO: session.TCKIMLIKNO,
                    OTURUM: session.OTURUM,
                    ID_SINAVDOSYA: item
                };
                var _this = this;
                this.editList = [];
                WebPost(this, "OptikYukle", "OptikDosyaIcerik", p, '#optik_modal', 'Yükleniyor..', function (data, parent) {
                    if (data != null || data != undefined) {

                        parent.t1 = JSON.parse(data)[0].t1  // veriler
                        parent.t2 = JSON.parse(data)[0].t2  // kolonadı

                        var html = '<tr>';
                        $.each(parent.t2, function (j, el) {
                            html += '<th>' + el.KOLONADI + '</th>';
                        });
                        html += '</tr>';
                        $("#thOptik").html(html);

                        $("#TblOptik").DataTable().destroy();

                        var html2 = '';
                        $.each(_this.t1, function (i, veri) {
                            html2 += '<tr id="' + veri.ID_SINAVOPTIKTEMP + '" >';
                            $.each(_this.t2, function (j, kolon) {
                                html2 += '<td id="id-' + i + '-' + j + '" idkolonadi="' + kolon.KOLONADI + '">' + veri[kolon.KOLONADI] + '</td>';
                            });
                            html2 += '</tr>';
                        });
                        $("#tbOptik").html(html2);


                        $("#TblOptik").DataTable().destroy();
                        _this.$nextTick(function () {
                            _this.ListeOlustur('TblOptik');
                        });
                    }
                    else {
                        Alert_Warning("Liste Bulunamadı!");
                    }
                });
            },
            editModal() {
                $("#editOptik_modal").modal('toggle');
                $("#" + this.editTabloID).html(this.editCell);
                var _this = this;
                _this.editList.push({
                    ID_SINAVOPTIKTEMP: _this.editSeciliID,
                    KOLONADI: _this.editSeciliKolonAdi,
                    DEGER: _this.editCell
                });
            },
            OptikDosyaIcerikDuzenle() {
                //console.log(JSON.stringify(this.editList))
                if (this.editList.length == 0) {
                    return;
                }
                var p = {
                    TCKIMLIKNO: session.TCKIMLIKNO,
                    OTURUM: session.OTURUM,
                    SQLJSON: JSON.stringify(this.editList)
                };

                WebPost(this, "OptikYukle", "OptikDosyaIcerikDuzenle", p, '#optik_modal', 'Yükleniyor..', function (data, parent) {
                    if (data != null || data != undefined) {
                        Alert_Info("Düzenleme İşlemi tamamladı.");
                    }
                    else {
                        Alert_Warning("Liste Bulunamadı!");
                    }
                });
            },
            Degerlendir() {
                if (this.DURUM != 1) {
                    var p = {
                        TCKIMLIKNO: session.TCKIMLIKNO,
                        OTURUM: session.OTURUM,
                        ID_SINAV: this.ID_SINAV
                    };

                    WebPost(this, "OptikYukle", "SinavDegerlendir", p, '#sinavtable', 'Yükleniyor..', function (data, parent) {
                        if (data) {
                            parent.DosyaListele();
                            if (parent.TIMER == null) {
                                parent.TIMER = setInterval(function () { parent.DosyaListele(); }, 5000);
                            }
                        }
                        else {
                            Alert_Warning("Liste Bulunamadı!");
                        }
                    })
                } else {
                    Alert_Warning("Bu sınav zaten değerlendiriliyor!");
                }
            },
            TcGuncelle(ID, TC) {
                if (TC.length != 11) {
                    Alert_Info('Hatalı TC');
                } else {
                    var p = {
                        TCKIMLIKNO: session.TCKIMLIKNO,
                        OTURUM: session.OTURUM,
                        ID_SINAVOPTIKTEMP: ID,
                        TC_OGRENCI: TC,
                        ID_SINAV: this.ID_SINAV
                    };

                    WebPost(this, "OptikYukle", "TcGuncelle", p, '', '', function (data, parent) {
                        if (data) {
                            Alert_Info("TC Guncellendi...");
                        }
                        else {
                            Alert_Warning("Bir hata oluştu. Daha sonra tekrar deneyiniz...");
                        }
                    })
                }
            },
            OptikSatirSil(ID) {
                Alert_Confirm("Emin misiniz?", "Kişi silinecek onaylıyor musunuz?", function () {
                    var p = {
                        TCKIMLIKNO: session.TCKIMLIKNO,
                        OTURUM: session.OTURUM,
                        ID_SINAVOPTIKTEMP: ID
                    };

                    WebPost(vue, "OptikYukle", "OptikSatirSil", p, '', '', function (data, parent) {
                        if (data) {
                            Alert_Info("Kişi silindi...");
                            parent.TekrarEden();
                            parent.DosyaListele();
                            parent.TcKontrol(parent.ID_SINAVDOSYA);
                        }
                        else {
                            Alert_Warning("Bir hata oluştu. Daha sonra tekrar deneyiniz...");
                        }
                    })
                });
            },
            OptikListele() {
                if (this.ID_SINAV == 0) {
                    Alert_Warning("Öncelikle Sınav Seçmelisiniz!");
                } else {
                    var p = {
                        TCKIMLIKNO: session.TCKIMLIKNO,
                        OTURUM: session.OTURUM,
                        ID_UNITESINAV: this.ID_SINAV
                    };

                    WebPost(this, this.controller, "OptikListele", p, '#filtre_div', 'Yükleniyor..', function (data, parent) {
                        if (data != null) {
                            parent.OPTIKLISTESI = data;
                            parent.OPTIKLISTESIMEVCUT = JSON.parse(JSON.stringify(data));
                        }
                        else {
                            Alert_Warning("Liste Bulunamadı!");
                        }
                    })
                }
            },
            OzelOptikTanimla() {
                $('#OzelOptikTanimlaModal').modal();
            },
        }
    });

</script>
<script src="Scripts/PublicMethods.js"></script>
<script src="assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js" type="text/javascript"></script>
