<style>
    td {
        vertical-align: middle !important;
    }

    .row {
        margin-top: 10px !important;
    }
</style>

<div class="page-head">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title col-md-12">
        <h1>
            Optik Giriş <span onclick="YardimGoster(ID_MENU);" class="pull-right" style="cursor:pointer;"><img src="assets/global/img/info.gif" class="info-image-icon" /> </span>
        </h1>
    </div>
    <!-- END PAGE TITLE -->
</div>

<div class="row" id="app">
    <div class="row" style="margin:0px!important;">
        <div class="col-md-6">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-magnifier font-green"></i>
                        <span class="caption-subject bold font-green uppercase"> Filtre </span>
                        <span class="caption-helper"></span>
                    </div>
                </div>
                <!-- BEGIN PORTLET-->
                <div class="portlet-body form">
                    <form role="form">
                        <div class="form-body form-horizontal">

                            <div class="row">
                                <c-donem controller="OptikTanimla"
                                         @OnChange="DonemSelected">
                                </c-donem>
                            </div>                          
                            <div class="row">
                                <c-sinavgrup controller="OptikTanimla"
                                             :id_kademe3="ID_KADEME3"
                                             @OnChange="SinavGrupSelected">
                                </c-sinavgrup>
                            </div>
                            <div class="row">
                                <c-sinav-donem-unite :controller="controller"
                                         :donem="DONEM"                                        
                                         :id_kademe3="ID_KADEME3"                                        
                                         @OnChange="SinavSelected">
                                </c-sinav-donem-unite>
                            </div>
                            <div class="form-group" style="margin-top:10px;">
                                <div class="col-md-12 text-right">
                                    <button type="button" class="btn green" @click="OptikListele">Optik Listele</button>
                                </div>
                            </div>

                        </div>
                    </form>

                </div>
                <!-- END PORTLET-->
            </div>
        </div>
        <div class="col-md-6">
            <div class="portlet light" style="min-height:360px!important;">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-magnifier font-green"></i>
                        <span class="caption-subject bold font-green uppercase"> Filtre </span>
                        <span class="caption-helper"></span>
                    </div>
                </div>
                <!-- BEGIN PORTLET-->
                <div class="portlet-body form">
                    <form role="form">
                        <div class="form-body form-horizontal">

                            <div class="row">
                                <c-donem controller="OptikTanimla"
                                         @OnChange="DonemSelected2">
                                </c-donem>
                            </div>
                            <div class="row">
                                <c-sinavgrup controller="OptikTanimla"
                                             :id_kademe3="ID_KADEME32"
                                             @OnChange="SinavGrupSelected2">
                                </c-sinavgrup>
                            </div>
                            <div class="row">
                                <c-sinav-donem controller="OptikTanimla"
                                         :donem="DONEM2"
                                         :id_sinavturu="ID_SINAVTURU"
                                         :id_kademe3="ID_KADEME32"
                                         @OnChange="SinavSelected2">
                                </c-sinav-donem>
                            </div>
                            <div class="form-group" style="margin-top:10px;">
                                <div class="col-md-12 text-right">
                                    <button type="button" class="btn green" @click="OptikListele2">Optik Listele</button>
                                </div>
                            </div>

                        </div>
                    </form>

                </div>
                <!-- END PORTLET-->
            </div>
        </div>
    </div>
    <div class="row" style="margin:0px!important;">
        <div class="col-md-6">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-list font-green"></i>
                        <span class="caption-subject bold font-green uppercase"> Optik Listesi </span>
                        <span class="caption-helper"></span>
                    </div>
                </div>
                <!-- BEGIN PORTLET-->
                <div class="portlet-body form" v-if="OPTIKLISTESI.length>0">
                    <form role="form">
                        <div class="portlet light bordered">
                            <div class="portlet-body">
                                <table class="table table-striped table-bordered table-checkable" id="optiktable">
                                    <thead>
                                        <tr>
                                            <th style="text-align:left;">KOLON ADI</th>
                                            <th>BAŞLANGIÇ</th>
                                            <th>KARAKTER SAYISI</th>
                                            <th style="text-align:center;">OTURUM</th>
                                        </tr>
                                    </thead>
                                    <tbody v-for="u in OPTIKLISTESI">
                                        <tr>
                                            <td style="text-align:left;">{{u.AD}}</td>
                                            <td><input type="text" class='form-control' style="text-align:center;" v-model="u.BASLANGIC" onkeypress='return event.charCode >= 44 && event.charCode <= 57' onclick='javascript: if(this.value==0)this.value = ""' /></td>
                                            <td><input type="text" class='form-control' style="text-align:center;" v-model="u.KARAKTERSAYISI" onkeypress='return event.charCode >= 44 && event.charCode <= 57' onclick='javascript: if(this.value==0)this.value = ""' /></td>
                                            <td style="text-align:center;">
                                                <select class="form-control" v-if="u.TUR==2" v-model="u.OTURUM">
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                </select>
                                                <span v-else>SABİT</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div style="text-align:right;">
                                    <button type="button" class="btn green" @click="OptikKaydet()" id="KAYDETBTN">Kaydet</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- END PORTLET-->
            </div>
        </div>
        <div class="col-md-6">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-list font-green"></i>
                        <span class="caption-subject bold font-green uppercase"> Optik Listesi </span>
                        <span class="caption-helper"></span>
                    </div>
                </div>
                <!-- BEGIN PORTLET-->
                <div class="portlet-body form" v-if="OPTIKLISTESI2.length>0">
                    <form role="form">
                        <div class="portlet light bordered">
                            <div class="portlet-body">
                                <table class="table table-striped table-bordered table-checkable" id="optiktable2">
                                    <thead>
                                        <tr>
                                            <th style="text-align:left;">KOLON ADI</th>
                                            <th>BAŞLANGIÇ</th>
                                            <th>KARAKTER SAYISI</th>
                                        </tr>
                                    </thead>
                                    <tbody v-for="u in OPTIKLISTESI2">
                                        <tr>
                                            <td style="text-align:left;">{{u.AD}}</td>
                                            <td><input type="text" class='form-control' style="text-align:center;" v-model="u.BASLANGIC" onkeypress='return event.charCode >= 44 && event.charCode <= 57' onclick='javascript: if(this.value==0)this.value = ""' disabled /></td>
                                            <td><input type="text" class='form-control' style="text-align:center;" v-model="u.KARAKTERSAYISI" onkeypress='return event.charCode >= 44 && event.charCode <= 57' onclick='javascript: if(this.value==0)this.value = ""' disabled /></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div style="text-align:left;">
                                    <button type="button" class="btn green" @click="OptikKopyala()"><i class="fa fa-angle-double-left"></i>Kopyala</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- END PORTLET-->
            </div>
        </div>
    </div>
</div>
<script src="VueComponents/SinavFiltreleri.js"></script>

<script>
    var vue = new Vue({

        el: "#app",
        name: "OptikTanimla.html",

        data: {
            controller:'UniteOptikTanimla',
            DONEM: '',
            DONEM2: '',
            ID_SINAVTURU: 0,
            ID_KADEME3: 0,
            ID_KADEME32: 0,
            ID_SINAV: 0,
            ID_SINAV2: 0,
            OPTIKLISTESI: [],
            OPTIKLISTESI2: [],
            idSinav:0
        },

        mounted() {
            this.$nextTick(function () {
                if (parseInt(getParameterByName("ID_SINAV")) > 0) {
                    var p = {
                        TCKIMLIKNO: session.TCKIMLIKNO,
                        OTURUM: session.OTURUM,
                        ID_SINAV: parseInt(getParameterByName("ID_SINAV")),
                    };

                    WebPost(this, "OptikTanimla", "OptikDosyaGor", p, '#sinavtable', 'Yükleniyor..', function (data, parent) {
                        if (data != null) {
                            var k = JSON.parse(data)[0];

                            parent.DONEM = k["DONEM"];
                            parent.ID_SINAVTURU = parseInt(k["ID_SINAVTURU"]);
                            parent.ID_KADEME3 = parseInt(k["ID_KADEME3"]);
                            parent.idSinav = (parseInt(getParameterByName("ID_SINAV")));
                            parent.ID_SINAV = (parseInt(getParameterByName("ID_SINAV")));
                            parent.OptikListele();
                        }
                    });
                }
            });
        },

        methods: {
            DonemSelected(DONEM) {
                this.DONEM = DONEM;
            },
            DonemSelected2(DONEM2) {
                this.DONEM2 = DONEM2;
            },
            SinavGrupSelected(ID_KADEME3) {
                this.ID_KADEME3 = ID_KADEME3;
            },
            SinavGrupSelected2(ID_KADEME32) {
                this.ID_KADEME32 = ID_KADEME32;
            },
            SinavTuruSelected(ID_SINAVTURU) {
                this.ID_SINAVTURU = ID_SINAVTURU
            },
            SinavSelected(ID_SINAV) {
                console.log(ID_SINAV)
                this.ID_SINAV = ID_SINAV;
            },
            SinavSelected2(ID_SINAV2) {
                this.ID_SINAV2 = ID_SINAV2;
            },
            OptikListele() {
                if (this.ID_SINAV == 0) {
                    Alert_Warning("Öncelikle Sınav Seçmelisiniz!");
                } else {
                    var p = {
                        TCKIMLIKNO: session.TCKIMLIKNO,
                        OTURUM: session.OTURUM,
                        ID_UNITESINAV: this.ID_SINAV
                    };

                    WebPost(this, this.controller, "OptikListele", p, '#optiktable', 'Yükleniyor..', function (data, parent) {
                        if (data != null) {
                            parent.OPTIKLISTESI = data;
                            $('#KAYDETBTN').attr("disabled", false);
                        }
                        else {
                            Alert_Warning("Liste Bulunamadı!");
                            $('#KAYDETBTN').attr("disabled", false);
                        }
                    })
                }
            },
            OptikListele2() {
                if (this.ID_SINAV2 == 0) {
                    Alert_Warning("Öncelikle Sınav Seçmelisiniz!");
                } else {
                    var p = {
                        TCKIMLIKNO: session.TCKIMLIKNO,
                        OTURUM: session.OTURUM,
                        ID_SINAV: this.ID_SINAV2
                    };

                    WebPost(this, "OptikTanimla", "OptikListele", p, '#optiktable2', 'Yükleniyor..', function (data, parent) {
                        if (data != null) {
                            parent.OPTIKLISTESI2 = data;
                        }
                        else {
                            Alert_Warning("Liste Bulunamadı!");
                        }
                    })
                }
            },
            OptikKaydet() {
                $('#KAYDETBTN').attr("disabled", true);
                var p = {
                    TCKIMLIKNO: session.TCKIMLIKNO,
                    OTURUM: session.OTURUM,
                    ID_UNITESINAV: this.ID_SINAV,
                    SQLJSON: JSON.stringify(this.OPTIKLISTESI)
                };
                WebPost(this, this.controller, "OptikKaydet", p, '#optiktable', 'Yükleniyor..', function (data, parent) {
                    if (data != null) {
                        Alert_Info("Kaydedildi.");
                        parent.OptikListele();
                    }
                    else {
                        Alert_Warning("Liste Bulunamadı!");
                        $('#KAYDETBTN').attr("disabled", false);
                    }
                })
            },
            OptikKopyala() {
                for (var i = 0; i < this.OPTIKLISTESI.length; i++) {
                    var optikITEM = this.OPTIKLISTESI[i];
                    var item = this.getObjects(this.getObjects(this.OPTIKLISTESI2, "AD", optikITEM.AD), "TUR", optikITEM.TUR);
                    if (item.length > 0 && item[0] != undefined) {
                        optikITEM.BASLANGIC = item[0].BASLANGIC;
                        optikITEM.KARAKTERSAYISI = item[0].KARAKTERSAYISI;
                    }
                }
            },
            getObjects(obj, key, val) {
                var objects = [];
                for (var i in obj) {
                    if (!obj.hasOwnProperty(i)) continue;
                    if (typeof obj[i] == 'object') {
                        objects = objects.concat(this.getObjects(obj[i], key, val));
                    } else if (i == key && obj[key] == val) {
                        objects.push(obj);
                    }
                }
                return objects;
            }
        }
    });

</script>
<script src="Scripts/PublicMethods.js"></script>
