<div class="page-head">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title col-md-12">
        <h1>
            Ünite Tarama Ölçeği Sınav Listesi <span onclick="YardimGoster(ID_MENU);" class="pull-right" style="cursor:pointer;"><img src="assets/global/img/info.gif" class="info-image-icon" /> </span>
        </h1>
    </div>
    <!-- END PAGE TITLE -->
</div>

<div class="row" id="app">
    <!--<div class="col-md-12" v-if="TCKIMLIKNOx != '56545519606'">Sayfa güncelleniyor. Daha sonra tekrar deneyiniz.</div>
    <div v-else>-->
    <div class="col-md-12">
        <div class="portlet box blue-hoki dd-item" style="border:none">
            <div class="portlet-title dd-handle" data-toggle='collapse' data-target='#filters' style="cursor:pointer;">
                <div class="caption">
                    <i class="icon-magnifier"></i>
                    <span class="caption-subject bold uppercase"> Filtreler </span>
                    <span class="caption-helper"></span>
                </div>
                <div class='actions'>
                    <a href='javascript:;' class='btn btn-default btn-sm' style='border:none;'>
                        <i class='fa fa-chevron-down'></i>
                    </a>
                </div>
            </div>
            <!-- BEGIN PORTLET-->
            <div class="portlet-body form collapse in" id="filters">
                <form role="form" style="padding:12px 20px">
                    <div class="row" style="line-height:34px;">
                        <c-donem controller="AbideSinavTanimla"
                                 @OnChange="DonemSelected">
                        </c-donem>
                    </div>
                    <div class="row" style="line-height:34px;">
                        <c-sinavgrup controller="AbideSinavTanimla"
                                     @OnChange="SinavGrupSelected">
                        </c-sinavgrup>
                    </div>
                    <div class="row">
                        <div class="form-group" style="margin-top:10px;">
                            <div class="col-md-12 text-right">
                                <button type="button" class="btn yellow" @click="SinavEkleModal">Sınav Ekle</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="Sinav_modal" class="modal fade in" tabindex="-1" data-replace="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title" v-if="ID_UNITETARAMASINAV>0">Sınav Düzenle</h4>
                    <h4 class="modal-title" v-else>Sınav Ekle</h4>
                </div>

                <div class="modal-body" style="padding-bottom:0px;">
                    <div class="form-body form-horizontal">
                        <div class="row">
                            <label class="control-label col-md-3" style="vertical-align:middle;">Ad </label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" v-model="SinavAd" placeholder="Sınav Adı" />
                            </div>
                        </div>
                        <div class="row" v-if="ID_UNITETARAMASINAV>0">
                            <c-sinavgrup controller="UniteTaramaOlcegi"
                                         :id_kademe3="UniteTarama_IDKADEME3"
                                         @OnChange="DuzenleSinavGrupSelected">
                            </c-sinavgrup>
                        </div>
                        <div class="row">
                            <c-kitapciksayisi controller="UniteTaramaOlcegi"
                                              :kitapciksayisi="KITAPCIKSAYISI"
                                              @OnChange="KitapcikSayisiSelected">
                            </c-kitapciksayisi>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn green" @click="SinavEkle">{{ID_UNITETARAMASINAV==0?'Sınav Ekle':'Sınav Güncelle'}}</button>
                    <button type="button" class="btn default" data-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>

    <div id="OgrenciOptik_modal" class="modal fade in" tabindex="-1" data-replace="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Öğrenci Optik Bilgisi</h4>
                </div>
                <div class="modal-body" style="padding-bottom:0px;">

                    <form class="form-inline">
                        <div class="form-group">
                            <label class="form-control" for="pwd">Öğrenci TC Kimlik :</label>
                            <input class="form-control" type="number" v-model="OptikDetayTcOgrenci">
                            <button class="btn green form-control" type="button" @click="OgrenciOptikGetir(OptikDetayTcOgrenci)">Optik Getir</button>
                        </div>
                    </form>

                    <table class="table table-striped table-bordered table-hover table-checkable" v-if="OGRENCI_OPTIGI.length>0">
                        <thead>
                            <tr>
                                <th style="text-align: left;">Soru No</th>
                                <th style="text-align: left;">Ders</th>
                                <th style="text-align: left;">Sorunun Puanı</th>
                                <th style="text-align: left;">Öğrenci Yanıt</th>
                                <th style="text-align: left;">Doğru Yanıt</th>
                                <th style="text-align: left;">Aldığı Puan</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd gradeX" v-for="u in OGRENCI_OPTIGI">
                                <td style="text-align: left;">{{u.SORUNO}}</td>
                                <td style="text-align: left;">{{u.DERSAD}}</td>
                                <td style="text-align: left;">{{u.MAX_PUAN}}</td>
                                <td style="text-align: left;">{{u.OGRENCIVERDIGICEVAP}}</td>
                                <td style="text-align: left;">{{u.CEVAP}}</td>
                                <td style="text-align: left;">{{u.DEGERLENDIRMEPUANI}}</td>
                            </tr>
                        </tbody>
                    </table>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn default" data-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12" v-if="Liste.length>0">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-list font-green"></i>
                    <span class="caption-subject bold font-green uppercase"> Sınav Listesi </span>
                    <span class="caption-helper"></span>
                </div>
            </div>
            <!-- BEGIN PORTLET-->
            <div class="portlet-body form">
                <form role="form">
                    <div class="portlet light bordered">
                        <div class="portlet-body">
                            <table class="table table-striped table-bordered table-hover table-checkable">
                                <thead>
                                    <tr>
                                        <th style="vertical-align:middle;">ID</th>
                                        <th style="vertical-align:middle;">AD</th>
                                        <th style="vertical-align:middle;">SINAV GRUP</th>
                                        <th style="vertical-align:middle;">TARIH</th>
                                        <th style="vertical-align:middle;">KİTAPÇIK SAYISI</th>
                                        <th style="vertical-align:middle;">AD - SOYAD</th>
                                        <th style="vertical-align:middle;">ÖĞRENCİ VELİ GÖRSÜN</th>
                                        <th style="vertical-align:middle;">OPTİK YÜKLEME ve PUAN GİRİŞİ</th>
                                        <th style="vertical-align:middle;">SINAV ÖZELLİKLERİ (XLSX) <br /><a href="https://pusulam.okyanuskoleji.k12.tr/Dosyalar/SinavTemplate/UNITETARAMATASLAK.xlsx">TASLAK</a> </th>
                                        <th style="vertical-align:middle;">İŞLEMLER</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="odd gradeX" v-for="u in Liste">
                                        <td>{{u.ID_UNITETARAMASINAV}}</td>
                                        <td>{{u.AD}}</td>
                                        <td>{{u.KADEME3}}</td>
                                        <td>{{u.TARIH}}</td>
                                        <td>{{u.KITAPCIKSAYISI}}</td>
                                        <td>{{u.ADSOYAD}}</td>
                                        <td>
                                            <!--<div class="col-md-9" style="height:34px; vertical-align:middle;">-->
                                            <div class="md-checkbox" style="margin:auto!important; width:20px!important; height:20px; margin:0px; margin-top:6px; display:block;">
                                                <input type="checkbox" v-model="u.OVGORSUN" :id="u.ID_UNITETARAMASINAV+'OVGORSUN'" class="md-check" v-bind:true-value="true" v-bind:false-value="false" @click="OVGorsunDegistir(u)" />
                                                <label :for="u.ID_UNITETARAMASINAV+'OVGORSUN'">
                                                    <span></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span>
                                                </label>
                                            </div>
                                            <!--</div>-->
                                        </td>
                                        <td>
                                            <!--<div class="col-md-9" style="height:34px; vertical-align:middle;">-->
                                            <div class="md-checkbox" style="margin:auto!important; width:20px!important; height:20px; margin:0px; margin-top:6px; display:block;">
                                                <input type="checkbox" v-model="u.DEGERLENDIRME" :id="u.ID_UNITETARAMASINAV+'DEGERLENDIRME'" class="md-check" v-bind:true-value="true" v-bind:false-value="false" @click="OVGorsunDegistir(u)" />
                                                <label :for="u.ID_UNITETARAMASINAV+'DEGERLENDIRME'">
                                                    <span></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span>
                                                </label>
                                            </div>
                                            <!--</div>-->
                                        </td>
                                        <td>
                                            <div v-if="u.TANIMLISORUSAYISI==0">
                                                <input type="file" :id="u.ID_UNITETARAMASINAV" class="filestyle" data-badge="false" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" class="btn yellow" @change="exceldosyaoku($event,u.ID_UNITETARAMASINAV)" multiple>
                                            </div>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-info" @click="DuzenleModal(u.ID_UNITETARAMASINAV, u.AD, u.KITAPCIKSAYISI)">Düzenle</button>
                                            <button type="button" class="btn btn-warning" @click="Sil(u.ID_UNITETARAMASINAV, u.AD)">Sil</button>
                                            <button type="button" class="btn btn-danger" @click="Bildirim(u.ID_UNITETARAMASINAV)">Bildirim Gonder</button>
                                            <button type="button" class="btn btn-success" @click="OptikTanimla(u.ID_UNITETARAMASINAV)">Optik Tanımla</button>
                                            <button type="button" class="btn btn-primary" @click="Degerlendir(u.ID_UNITETARAMASINAV)">Değerlendir</button>
                                            <button type="button" class="btn btn-default" @click="OgrenciOptikGetirModal(u.ID_UNITETARAMASINAV)">Öğrenci Optik</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
            <!-- END PORTLET-->
        </div>
    </div>

    <div class="col-md-4" v-if="Optik_Liste.length>0 && LIST_SINAV_OZELLIK.length==0">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-list font-green"></i>
                    <span class="caption-subject bold font-green uppercase"> Optik Listesi {{Optik_Sinav_ID}} </span>
                    <span class="caption-helper"></span>
                </div>
            </div>
            <!-- BEGIN PORTLET-->
            <div class="portlet-body form">
                <form role="form">
                    <div class="portlet light bordered">
                        <div class="portlet-body">
                            <table class="table table-striped table-bordered table-hover table-checkable">
                                <thead>
                                    <tr>
                                        <th style="text-align: left;">Kolon Adı</th>
                                        <th>Başlangıç</th>
                                        <th>Karakter Sayısı</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="odd gradeX" v-for="u in Optik_Liste">
                                        <td style="text-align: left;">{{u.AD}} ({{u.ID}})</td>
                                        <td><input type="text" class='form-control' style="text-align:center;" v-model="u.BASLANGIC" onkeypress='return event.charCode >= 44 && event.charCode <= 57' onclick='javascript: if(this.value==0)this.value = ""' /></td>
                                        <td><input type="text" class='form-control' style="text-align:center;" v-model="u.KARAKTERSAYISI" onkeypress='return event.charCode >= 44 && event.charCode <= 57' onclick='javascript: if(this.value==0)this.value = ""' /></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div style="text-align:right;">
                        <button type="button" class="btn green" @click="OptikKaydet()" id="KAYDETBTN">Optik Kaydet</button>
                    </div>
                </form>
            </div>
            <!-- END PORTLET-->
        </div>
    </div>

    <div class="col-md-8" v-if="Optik_Liste.length>0 && LIST_SINAV_OZELLIK.length==0">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-list font-green"></i>
                    <span class="caption-subject bold font-green uppercase"> Cevap Anahtarı {{Optik_Sinav_ID}} </span>
                    <span class="caption-helper"></span>
                </div>
            </div>
            <!-- BEGIN PORTLET-->
            <div class="portlet-body form">
                <form role="form">
                    <div class="portlet light bordered">
                        <div class="portlet-body">
                            <table class="table table-striped table-bordered table-hover table-checkable" id="tblCevapAnahtari">
                                <thead>
                                    <tr>
                                        <th style="text-align: left;">ID</th>
                                        <th style="text-align: left;">SORUNO</th>
                                        <th style="text-align: left;">DERSAD</th>
                                        <th style="text-align: left;">KAZANIM KOD</th>
                                        <th style="text-align: left;">PUAN</th>
                                        <th style="text-align: left;">DOĞRU ŞIK</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="odd gradeX" v-for="u in Optik_Cevap_Anahtari">
                                        <td style="text-align: left;">{{u.ID_UNITETARAMASORU}}</td>
                                        <td style="text-align: left;">{{u.SORUNO}}</td>
                                        <td style="text-align: left;">{{u.DERSAD}} ({{u.ID_DERS}})</td>
                                        <td><input type="text" class='form-control' style="text-align:center;" v-model="u.KAZANIMKOD" /></td>
                                        <td><input type="text" class='form-control' style="text-align:center;" v-model="u.PUAN" onkeypress='return event.charCode >= 44 && event.charCode <= 57' onclick='javascript: if(this.value==0)this.value = ""' /></td>
                                        <td style="text-align: left;">
                                            <div>
                                                <select class="form-control" v-model="u.CEVAP">
                                                    <option value='' :selected="u.CEVAP == '' "></option>
                                                    <option value='A' :selected="u.CEVAP == 'A' ">A</option>
                                                    <option value='B' :selected="u.CEVAP == 'B' ">B</option>
                                                    <option value='C' :selected="u.CEVAP == 'C' ">C</option>
                                                    <option value='D' :selected="u.CEVAP == 'D' ">D</option>
                                                    <option value='E' :selected="u.CEVAP == 'E' ">E</option>
                                                    <option value='HID' :selected="u.CEVAP == 'HID' ">HERKES İÇİN DOĞRU</option>
                                                    <option value='KS' :selected="u.CEVAP == 'KS' ">KLASİK SORU</option>
                                                </select>
                                            </div>
                                        </td>
                                </tbody>
                            </table>
                            <div style="text-align:right;">
                                <button type="button" class="btn green" @click="SinavOzellikleriKaydet(Optik_Sinav_ID)" id="KAYDETBTN">Sınav Özellikleri Kaydet</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- END PORTLET-->
        </div>
    </div>

</div>

<script src="VueComponents/SinavFiltreleri.js?v=4"></script>
<script src="../../VueComponents/xlsx.core.min.js"></script> <!--excel dosya okuma filrereader-->

<script>
    var vue = new Vue({
        el: "#app",
        name: "UniteTaramaSinavTanimla.html",

        data: {
            DONEM: '',
            SinavAd: '',
            Liste: [],
            ID_KADEME3: 0,
            UniteTarama_IDKADEME3: 0,
            ID_UNITETARAMASINAV: 0,
            KITAPCIKSAYISI: 1,
            TCKIMLIKNOx: '',
            Optik_Liste: [],
            Optik_Sinav_ID: 0,
            Optik_Cevap_Anahtari: [],
            SINAV_ID: 0,
            OptikDetayTcOgrenci: 0,
            OGRENCI_OPTIGI: [],
            LIST_SINAV_OZELLIK: []
        },

        mounted() {
            this.TCKIMLIKNOx = session.TCKIMLIKNO
        },

        methods: {
            DonemSelected(val) {
                this.DONEM = val;
                this.SinavListele();
                this.Optik_Liste = [];
            },

            SinavGrupSelected(val) {
                this.ID_KADEME3 = val;
                this.SinavListele();
                this.Optik_Liste = [];
            },

            DuzenleSinavGrupSelected(val) {
                this.UniteTarama_IDKADEME3 = val;
            },

            KitapcikSayisiSelected(KITAPCIKSAYISI) {
                this.KITAPCIKSAYISI = KITAPCIKSAYISI;
            },

            SinavListele() {
                if (this.ID_KADEME3 > 0) {
                    var p = {
                        TCKIMLIKNO: session.TCKIMLIKNO,
                        OTURUM: session.OTURUM,
                        DONEM: this.DONEM,
                        ID_KADEME3: this.ID_KADEME3,
                    };
                    WebPost(this, 'UniteTaramaOlcegi', "SinavListele", p, '', '', function (data, parent) {
                        if (data != null || data != undefined) {
                            parent.Liste = JSON.parse(data);
                        } else {
                            parent.Liste = [];
                        }
                    });
                }
            },

            SinavEkleModal() {
                this.SinavAd = '';
                this.ID_UNITETARAMASINAV = 0;
                this.UniteTarama_IDKADEME3 = this.ID_KADEME3;
                this.KITAPCIKSAYISI = 1;
                $('#Sinav_modal').modal();
            },

            SinavEkle() {
                var p = {
                    TCKIMLIKNO: session.TCKIMLIKNO,
                    OTURUM: session.OTURUM,
                    DONEM: this.DONEM,
                    AD: this.SinavAd,
                    KITAPCIKSAYISI: this.KITAPCIKSAYISI,
                    ID_UNITETARAMASINAV: this.ID_UNITETARAMASINAV,
                    ID_KADEME3: this.UniteTarama_IDKADEME3,
                };

                WebPost(this, 'UniteTaramaOlcegi', (this.ID_UNITETARAMASINAV == 0 ? "SinavTanimla" : "SinavDuzenle"), p, '', '', function (data, parent) {
                    if (data) {
                        Alert_Info("Sınav Düzenlendi.");
                        $('#Sinav_modal').modal("hide");
                        parent.SinavListele();
                    } else {
                        Alert_Warning("Bir hata oluştu!");
                    }
                });
            },

            DuzenleModal(ID, AD, KITAPCIKSAYISI) {
                this.SinavAd = AD;
                this.ID_UNITETARAMASINAV = ID;
                this.UniteTarama_IDKADEME3 = this.ID_KADEME3;
                this.KITAPCIKSAYISI = KITAPCIKSAYISI;
                $('#Sinav_modal').modal();
            },

            Sil(ID, AD) {
                Alert_Confirm("Emin misiniz?", AD + " isimli sınav silinecek.", function () {
                    var p = { TCKIMLIKNO: session.TCKIMLIKNO, OTURUM: session.OTURUM, ID_UNITETARAMASINAV: ID };
                    WebPost(vue, "UniteTaramaOlcegi", "SinavSil", p, '', '', function (data, parent) {
                        if (data) {
                            Alert_Info("Sınav Silindi.");
                            parent.SinavListele();
                        } else {
                            Alert_Warning("Bir hata oluştu!");
                        }
                    });
                });
            },
            Bildirim(ID) {
                window.location.replace('/anasayfa.html#Rapor/Viu/ViuTopluMesaj?UniteTarama=' + ID);
            },

            OptikTanimla(ID) {
                if (this.ID_KADEME3 > 0) {
                    this.Optik_Cevap_Anahtari = [];
                    var p = {
                        TCKIMLIKNO: session.TCKIMLIKNO,
                        OTURUM: session.OTURUM,
                        SINAV_ID: ID,
                        ID_KADEME3: this.ID_KADEME3
                    };
                    WebPost(this, 'UniteTaramaOlcegi', "OptikListele", p, '', '', function (data, parent) {
                        if (data != null || data != undefined) {
                            parent.Optik_Liste = JSON.parse(data);
                            parent.Optik_Sinav_ID = parent.Optik_Liste[0].SINAV_ID;
                        } else {
                            parent.Optik_Liste = [];
                        }
                    });
                    WebPost(this, 'UniteTaramaOlcegi', "CevapAnahtariGetir", p, '', '', function (data, parent) {
                        if (data != null || data != undefined) {
                            parent.Optik_Cevap_Anahtari = JSON.parse(data);
                            ListeOlusturTemizleyerek('tblCevapAnahtari', 0);
                        } else {
                            parent.Optik_Cevap_Anahtari = [];
                        }
                    });

                }
            },

            OptikKaydet() {
                var p = {
                    TCKIMLIKNO: session.TCKIMLIKNO,
                    OTURUM: session.OTURUM,
                    SQLJSON: JSON.stringify(this.Optik_Liste),
                    ID_KADEME3: this.ID_KADEME3
                };
                WebPost(this, "UniteTaramaOlcegi", "OptikKaydet", p, '', '', function (data, parent) {
                    if (data != null || data != undefined) {
                        Alert_Info('Optik Kaydedildi.');
                    }
                });

            },

            OVGorsunDegistir(item) {
                var p = {
                    TCKIMLIKNO: session.TCKIMLIKNO,
                    OTURUM: session.OTURUM,
                    ID_UNITETARAMASINAV: item.ID_UNITETARAMASINAV,
                    OVGORSUN: item.OVGORSUN,
                    DEGERLENDIRME: item.DEGERLENDIRME
                };

                WebPost(this, "UniteTaramaOlcegi", "OVGorsunDegistir", p, '', '', function (data, parent) {
                    if (data != null || data != undefined) {
                        if (data == 0) {
                            Alert_Info("Düzenleme Yapılamadı.");
                        }
                    }
                    else {
                        Alert_Warning("Liste Bulunamadı!");
                    }
                });

            },

            SinavOzellikleriKaydet(ID) {
                var p = {
                    TCKIMLIKNO: session.TCKIMLIKNO,
                    OTURUM: session.OTURUM,
                    ID_UNITETARAMASORU: ID,
                    SQLJSON: JSON.stringify(this.Optik_Cevap_Anahtari)
                };

                console.log(p);

                WebPost(this, "UniteTaramaOlcegi", "DogruCevapGuncelle", p, '', '', function (data, parent) {
                    if (data > 0) {
                        Alert_Info("Sınav Özellikleri Kayıt Edilmiştir.");
                    }
                    else {
                        Alert_Error("Sınav Özellikleri kayıt edilememiştir.")
                    }
                });
            },

            Degerlendir(ID) {
                if (this.ID_KADEME3 > 0) {
                    var p = {
                        TCKIMLIKNO: session.TCKIMLIKNO,
                        OTURUM: session.OTURUM,
                        SINAV_ID: ID,
                    };
                    WebPost(this, "UniteTaramaOlcegi", "SinavDegerlendir", p, '', '', function (data, parent) {
                        Alert_Info(data);
                    });
                }
            },

            OgrenciOptikGetirModal(ID) {
                $('#OgrenciOptik_modal').modal();
                this.SINAV_ID = ID;
            },

            OgrenciOptikGetir(TC) {
                if (TC != null) {
                    var p = {
                        TCKIMLIKNO: session.TCKIMLIKNO,
                        OTURUM: session.OTURUM,
                        SINAV_ID: this.SINAV_ID,
                        O_TCKIMLIKNO: TC,
                    };
                    WebPost(this, "UniteTaramaOlcegi", "SinavDegerlendir", p, '', '', function (data, parent) {
                        parent.OGRENCI_OPTIGI = JSON.parse(data);
                    });
                }
            },

            //handleFile(e, ID_SINAV) {
            //    var files = e.target.files;
            //    var i, f;
            //    var title;
            //    var choice;
            //    var result;
            //    var roa;
            //    for (i = 0, f = files[i]; i != files.length; ++i) {
            //        var reader = new FileReader();
            //        var name = f.name;
            //        reader.onload = function (e) {
            //            var data = e.target.result;

            //            var workbook = XLSX.read(data,
            //                {
            //                    type: 'binary'
            //                });
            //            var sheet_name_list = workbook.SheetNames;

            //            sheet_name_list.forEach(function (y) {
            //                roa = XLSX.utils.sheet_to_json(workbook.Sheets[y]);
            //                if (roa.length > 0) {
            //                    result = roa;
            //                }
            //            });
            //            vue.LIST_SINAV_OZELLIK = result;
            //        };
            //        reader.readAsArrayBuffer(f);
            //    }
            //    var p = {
            //        TCKIMLIKNO: session.TCKIMLIKNO,
            //        OTURUM: session.OTURUM,
            //        SINAV_ID: ID_SINAV,
            //        SQLJSON: vue.LIST_SINAV_OZELLIK
            //    };

            //    console.log(p);

            //    WebPost(this, "UniteTaramaExcelYukle", "SinavBilgiEkle", p, '', '', function (data, parent) {
            //        //Alert_Info_Refresh(data);
            //    });
            //},


            exceldosyaoku(e, ID_SINAV) {
                var files = e.target.files;
                var i, f;
                var title;
                var choice;
                var result;
                var roa;
                for (i = 0, f = files[i]; i != files.length; ++i) {
                    var reader = new FileReader();
                    var name = f.name;
                    reader.onload = function (e) {
                        var data = e.target.result;

                        var workbook = XLSX.read(data,
                            {
                                type: 'binary'
                            });
                        var sheet_name_list = workbook.SheetNames;

                        sheet_name_list.forEach(function (y) {
                            roa = XLSX.utils.sheet_to_json(workbook.Sheets[y]);
                            if (roa.length > 0) {
                                result = roa;
                            }
                        });
                        vue.LIST_SINAV_OZELLIK = result;
                    };
                    reader.readAsArrayBuffer(f);
                }
                setTimeout(function () {

                    vue.sqlxlsgonder(ID_SINAV);

                }, 500);
               
            },

            sqlxlsgonder(ID_SINAV) {

                var p = {
                    TCKIMLIKNO: session.TCKIMLIKNO,
                    OTURUM: session.OTURUM,
                    SINAV_ID: ID_SINAV,
                    SQLJSON: JSON.stringify(this.LIST_SINAV_OZELLIK)
                };

                console.log(p);

                WebPost(this, "UniteTaramaExcelYukle", "SinavBilgiEkle", p, '', '', function (data, parent) {
                    if (data > 0) {
                        Alert_Info_Refresh("Sınav tanımlama tamamlanmıştır. Soru Sayısı : " + data);
                    }
                    else {
                        Alert_Info_Refresh("Tanımlama yapılamamıştır.");
                    }
                    
                });

            },




        },



    });

</script>