<head>
    <script src="/Scripts/Tools.js"></script>
    <script src="/Scripts/Rapor/amcharts.js"></script>
    <script src="/Scripts/Rapor/jquery.easypiechart.js"></script>
    <script src="/Scripts/Rapor/light.js"></script>
    <script src="/Scripts/Rapor/serial.js"></script>
    <script src="/Scripts/Rapor/pie.js"></script>
</head>
<style>
    #chartdiv {
        width: 100%;
        height: 200px;
        font-size: 11px;
    }
</style>
<div class="page-head">
    <div class="page-title col-md-12">
        <h1>
            Online Test Sınav
            <small>Sınavlarım</small>
            <span onclick="YardimGoster(ID_MENU);" class="pull-right" style="cursor:pointer;"><img src="assets/global/img/info.gif" class="info-image-icon" /> </span>
        </h1>
    </div>
</div>
<div class="row" id="app" style="margin-top:0px!important;">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-list font-green"></i>
                    <span class="caption-subject bold font-green uppercase"> Sınavlarım </span>
                    <span class="caption-helper"></span>
                </div>
            </div>
            <div class="portlet-body form">
                <table class="table table-striped table-bordered table-checkable" id="tblListe">
                    <thead>
                        <tr>
                            <th>Test Adı</th>
                            <th>Başlangıç Tarihi</th>
                            <th>Bitiş Tarihi</th>
                            <th>Doğru Sayısı</th>
                            <th>Yanlış Sayısı</th>
                            <th>Boş Sayısı</th>
                            <th>Çözülme Durumu</th>
                            <th>İşlemler</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="u in LISTE">
                            <td>
                                {{u.SINAVAD}}
                            </td>
                            <td>{{u.BASTARIH}}</td>
                            <td>{{u.BITTARIH}}</td>
                            <td>{{u.DOGRU}}</td>
                            <td>{{u.YANLIS}}</td>
                            <td>{{u.BOS}}</td>
                            <td>{{u.COZULDU == true ? ( u.DEVAM ? 'Sınav Devam Ediyor' : 'Çözüldü') : 'Çözülmedi'}}</td>
                            <td>
                                <button type="button" class="btn yellow" @click="SinavAc(u)" v-if="u.DEVAM">Sınava Başla</button>
                                <button type="button" class="btn yellow" @click="SinavAc(u)" v-if="!u.DEVAM && u.COZULDU ">Sınav İncele</button>
                                <label v-if="!u.DEVAM && !u.COZULDU "> -- </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

   
</div>
<script>
    var vue = new Vue({
        el: "#app",
        name: "OnlineTest",

        data: {
            TCKIMLIKNO: '',
            OTURUM: '',
            controller: 'OnlineTest',

            LISTE: [],


            SINAV: null,
            SINAVPERFORMANS: null,
            SECILIDERS: 0,
            YONERGE: 0
        },

        mounted() {
            this.TCKIMLIKNO = session.TCKIMLIKNO;
            this.OTURUM = session.OTURUM;
            this.SinavListele();
        },

        methods: {

            SinavListele() {
                var p = {
                    TCKIMLIKNO: this.TCKIMLIKNO,
                    OTURUM: this.OTURUM,
                };
                WebPost(this, this.controller, "OnlineTestSinavlarimListele", p, '', '', function (data, parent) {
                    vue.LISTE = JSON.parse(data);
                    vue.$nextTick(function () {
                        ListeOlustur('tblListe');
                    });
                })

            },

            SinavAc(item) {

                window.location.replace('/AnaSayfa.html#OnlineSinav/Ogrenci/TestSinav?ID_SINAV=' + item.ID_SINAV + '&OTURUM=' + item.OTURUM);
            },

            SonucBelgesi(item) {
                window.open('../Rapor.aspx?rapor=Sinav.SinavSonuclari&raporTur=pdf&p='
                    + this.TCKIMLIKNO
                    + ';' + this.OTURUM
                    + ';' + this.TCKIMLIKNO
                    + ';' + item.ID_SINAV
                    + ";"
                    + 0, '_blank');
            },
            SinavCikti(item) {

                window.open('/AnaSayfa.html#OnlineSinav/OnlineSinavCikti?ID_SINAV=' + item + '&CEVAPANAHTARI=true', '_blank');
                //window.open("Rapor.aspx?raporTur=pdf&rapor=Sinav.Online.Sinav&p="
                //    + session.TCKIMLIKNO + ";"
                //    + session.OTURUM + ";"
                //    + item + ";"
                //    + true
                //    , '_blank');
            },
            SinavPerformans(item) {

                $("#detay_modal").modal();

                this.SINAV = null;
                this.SINAVPERFORMANS = null;

                this.SECILIDERS = 0;

                var p = { TCKIMLIKNO: this.TCKIMLIKNO, OTURUM: this.OTURUM, ID_SINAV: item.ID_SINAV };

                WebPost(this, vue.controller, "OnlineSinavPerformans", p, '', '', function (data, parent) {
                    if (data != '[]') {
                        vue.SINAV = JSON.parse(data)[0].SINAV[0];
                        vue.SINAVPERFORMANS = JSON.parse(data)[0].PERFORMANS[0];

                        var datapro = [];
                        datapro.push({ "durum": "Net", "yuzde": vue.SINAVPERFORMANS.NETPERFORMANS.toFixed(2), "color": "#DDD" });
                        datapro.push({ "durum": "", "yuzde": 100 - vue.SINAVPERFORMANS.NETPERFORMANS.toFixed(2), "color": "#DDD" });
                        vue.$nextTick(function () {
                            AmChartPieOlustur("chartdiv", datapro, "yuzde", "durum", false, "Performans Grafiği", false);
                        });
                        vue.$forceUpdate();
                        vue.$nextTick(() => {
                            $.each(vue.SINAVPERFORMANS.DERSPERFORMANS, (j, el) => {
                                var dataproDers = [];
                                dataproDers.push({ "durum": "Net", "yuzde": el.YUZDENET.toFixed(2), "color": "#DDD" });
                                dataproDers.push({ "durum": "", "yuzde": 100 - el.YUZDENET.toFixed(2), "color": "#DDD" });
                                vue.$nextTick(function () {
                                    AmChartPieOlustur("chartdivDers" + (j + 1), dataproDers, "yuzde", "durum", false, el.TAKMAAD + " Performans Grafiği", false);
                                });
                            });
                        });
                        //datapro.push({ "durum": "Doğru", "yuzde": vue.SINAVPERFORMANS.DOGRUPERFORMANS.toFixed(2), "color": "#DDD" });
                        //datapro.push({ "durum": "Yanlış", "yuzde": vue.SINAVPERFORMANS.YANLISPERFORMANS.toFixed(2), "color": "#DDD" });
                        //datapro.push({ "durum": "Boş", "yuzde": vue.SINAVPERFORMANS.BOSPERFORMANS.toFixed(2), "color": "#DDD" });
                        //vue.$nextTick(function () {
                        //    AmChartPieOlustur("chartdiv", datapro, "yuzde", "durum", false, "Performans Grafiği", false);
                        //});
                    }
                });

            }
        },
    });
</script>
<script src="Scripts/PublicMethods.js"></script>