<link href="/assets/global/plugins/bootstrap-slider/bootstrap-slider.min.css" rel="stylesheet" />
<link href="/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.css" rel="stylesheet" />
<script src="/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.min.js"></script>
<script src="Scripts/Rapor/amcharts.js"></script>
<script src="Scripts/Rapor/jquery.easypiechart.js"></script>
<script src="Scripts/Rapor/light.js"></script>
<script src="Scripts/Rapor/serial.js"></script>
<style>
    #chartdiv {
        width: 100%;
        height: 500px;
        font-size: 11px;
    }

    .chart {
        position: relative;
        display: inline-block;
        width: 90px;
        height: 90px;
        text-align: center;
    }

        .chart canvas {
            position: absolute;
            top: 0;
            left: 0;
        }

    td {
        vertical-align: middle !important;
    }

    tr td:first-child {
        text-align: left !important;
    }

    tr th:first-child {
        text-align: left !important;
    }

    .margintop0 {
        margin-top: 0px !important;
        margin-bottom: 10px !important;
    }

    #detay_modal tr td:first-child {
        text-align: left !important;
        background-color: brown;
        color: white;
        font-weight: 600;
        vertical-align: top;
    }

    .nav-tabs .active {
        border-bottom: 5px solid #32c5d2 !important;
    }

    .slider-track {
        cursor: default !important;
    }

    .col-lg-3 {
        padding: 4px !important;
    }

    .col-lg-2 {
        padding: 4px !important;
    }

    .col-lg-5 {
        padding: 4px !important;
    }

    .progress {
        background-color: #D2D1D1 !important;
        margin-bottom: 0px !important;
        height: auto !important;
    }

    .progress-bar {
        color: #444d58;
        font-weight: bold;
        text-indent: 0px;
    }

    .progress-bar-gray {
        background-color: #ADB6C1;
    }

    .table-bordered, .table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
        border: 1px solid #E6E8EA;
    }

    .panel-default .panel-heading {
        border: 1px solid #B1AEAE;
    }

    .badgenew {
        color: black !important;
        font-size: 14px !important;
        font-weight: bold;
        float: right;
        height: 23px;
        margin-top: -3px;
        padding-top: 5px;
    }

    @media (max-width: 1510px) {
        .accordion-toggle {
            font-size: 10px;
        }

        .badgenew {
            color: black !important;
            font-size: 10px !important;
            font-weight: bold;
            float: right;
            height: 17px;
            margin-top: -3px;
            padding-top: 2px;
        }
    }

    @media (max-width: 1190px) {
        .accordion-toggle {
            font-size: 10px;
            padding: 10px 0px !important;
        }
    }

    @media (max-width: 1020px) {
        .badge {
            padding: 2px 2px;
        }
    }

    .badge10 {
        background-color: #F31D13 !important;
    }

    .badge20 {
        background-color: #F34713 !important;
    }

    .badge30 {
        background-color: #F37013 !important;
    }

    .badge40 {
        background-color: #F39913 !important;
    }

    .badge50 {
        background-color: #F1CD1C !important;
    }

    .badge60 {
        background-color: #E4DE1C !important;
    }

    .badge70 {
        background-color: #D6EC1B !important;
    }

    .badge80 {
        background-color: #BDF11C !important;
    }

    .badge90 {
        background-color: #95F11C !important;
    }

    .badge100 {
        background-color: #1CF140 !important;
    }

    .touch {
        height: 20px !important;
        /*  width: 20px;*/
        line-height: 0.44 !important;
        padding: 0px !important;
        font-size: 12px !important;
        text-align: center !important;
    }

    .bootstrap-touchspin-down {
        width: 13px !important;
    }

    .bootstrap-touchspin-up {
        width: 13px !important;
    }

    tr {
        background-color: #F1F1F1;
    }

    thead tr {
        background-color: #D6D5D5;
    }

    .max-slider-handle {
        background-image: none !important;
        background-color: #659be0 !important;
    }

    .min-slider-handle {
        background-image: none !important;
        background-color: #36c6d3 !important;
    }

    .slider-selection {
        background-color: #f1f1f1;
    }

    @media only screen and (max-width: 1400px) {
        td {
            font-size: 10px !important;
        }

        .slider-tick {
            background-image: linear-gradient(to bottom, #89cdef 0%, #81bfde 100%) !important;
        }

        body {
            font-size: 10px !important;
        }
    }
</style>

<div class="page-head">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title col-md-12">
        <h1> Öğrenci Hedef <small>Mevcut Durum</small>  <span onclick="YardimGoster(ID_MENU);" class="pull-right" style="cursor:pointer;"><img src="assets/global/img/info.gif" class="info-image-icon" /> </span></h1>
    </div>
    <!-- END PAGE TITLE -->
</div>

<div class="row" id="app" style="margin-top:0px!important;">
    <div class="portlet light  col-md-12" id="FiltreDivVeli" style="margin:0px; border-bottom-style: solid;border-bottom-width: 3px;border-bottom-color: rgb(0, 173, 239); margin-bottom:20px!important;"
         v-if="ListKullaniciTipi.indexOf(5)>-1">

        <div class="portlet-body">
            <div class="form-inline">
                <c-ogrenci-veli controller="MevcutDurum"
                                :tc="TCKIMLIKNO"
                                :idkademe="5"
                                @OnChange="OgrenciVeliSelected">
                </c-ogrenci-veli>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="portlet light" style="margin:0px; border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: rgb(0, 173, 239);">
            <div class="portlet-body" style="padding:0px!important">
                <div class="row" id="SinavAdiYKS" style="font-weight:600;font-size:16px;color:#929191; margin:0px!important;">
                    TERCİHLER
                </div>
            </div>
        </div>
        <div class="portlet light" style="padding:0px; overflow-x:auto;">
            <table class="table table-striped table-bordered" style="margin-bottom:0px!important;" id="table" v-if="HEDEFLER!=null&&HEDEFLER.length>0">
                <tbody>
                    <tr v-for="h in HEDEFLER" @click="HedefDetayGor(h.PROGRAMKODU)" style="cursor:pointer;">
                        <td>{{h.UNIVERSITE}}</td>
                        <td>{{h.BOLUM}}</td>
                        <td>{{parseFloat(h.TABANPUAN).toFixed(3)}}</td>
                    </tr>
                </tbody>
            </table>
            <label v-else style="padding:8px;">Seçilen puan türünde tercih yapılmamış.</label>
        </div>
    </div>

    <div class="col-md-3">
        <div class="portlet light" style="margin:0px; border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: rgb(0, 173, 239);">
            <div class="portlet-body" style="padding:0px!important">
                <div class="row" style="font-weight:600;font-size:16px;color:#929191; margin:0px!important;">
                    HEDEFLER
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 0px!important;margin-bottom: 3px!important;">
            <c-puanturu controller="MevcutDurum" v-if="OGRTCKIMLIKNO!=''"
                        :tc="OGRTCKIMLIKNO"
                        @OnChange="PuanTuruSelected">
            </c-puanturu>
        </div>
        <div class="portlet light" id="DurumGosterge" style="min-height: 100px; padding: 10px;text-align:center">
            <input id="hedeflerslider" type="text" data-slider-min="100000" data-slider-max="560000" data-slider-step="1" data-slider-orientation="vertical" />
        </div>
    </div>

    <div class="col-md-5" v-if="OGRENCISINAVNET!=undefined">
        <div v-if="OGRENCISINAVNET.AAYKSSINAVSONUC!=undefined" class="portlet light" style="margin:0px; border-bottom-style: solid; border-bottom-width: 3px; border-bottom-color: rgb(0, 173, 239);">
            <div class="portlet-body" style="padding:0px!important">
                <div class="row" id="SinavAdiYKS" style="font-weight:600;font-size:16px;color:#929191; margin:0px!important;">
                    ({{OGRENCISINAVNET.AAYKSSINAVSONUC[0].AD}})
                </div>
            </div>
        </div>
        <div v-if="OGRENCISINAVNET.AAYKSSINAVSONUC!=undefined" class="portlet light" style="min-height: 100px;padding:0px;margin-top:1px; overflow-x:auto;">
            <table id="tablosinavsonucAAYKS" class="table table-responsive table-bordered" style="margin:0px!important">
                <thead>
                    <tr style='height:45px;background-color: #D6D5D5;'>
                        <td style='vertical-align:middle'>Ders</td>
                        <td style='vertical-align:middle;text-align:center;width:150px;'>Bir Önceki Net<br />{{OGRENCISINAVNET.AAYKSSINAVSONUC[0].BIRONCEKIAD}}</td>
                        <td style='vertical-align:middle;text-align:center;width:60px;'>Soru Sayısı</td>
                        <td style='vertical-align:middle;text-align:center;width:150px;font-size:10px;'>
                            <div class='progress-bar-success' style='width:15px; height:15px;float:left;'></div> <label style='float: left;'>Güncel Net</label> <br style='clear:both;'>
                            <div class='progress-bar-info' style='width:15px; height:15px;float:left;'></div><label style='float: left;'> Hedeflenen</label>  <br style='clear:both;'>
                            <div class='progress-bar-warning' style='width:15px; height:15px;float:left;'></div><label style='float: left;'> Hedefe Kalan</label>  <br style='clear:both;'>
                        </td>
                        <td style='vertical-align:middle;text-align:center;width:100px;'>Net Artışı</td>
                        <td style='vertical-align:middle;text-align:center;width:60px;'>Hedef Net</td>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="NET in OGRENCISINAVNET.AAYKSSINAVSONUC" style="cursor:pointer;">
                        <td>{{NET.TAKMAAD}}</td>
                        <td style="width:100px!important;">
                            <div class="progress">
                                <div class="progress-bar progress-bar-gray" role="progressbar" :style="'width: '+((NET.BIRONCEKINET<0?0:NET.BIRONCEKINET)/NET.BIRONCEKISORUSAYISI*100)+'%'" :aria-valuenow="NET.BIRONCEKINET" :aria-valuemin="0" :aria-valuemax="NET.BIRONCEKISORUSAYISI">
                                    {{NET.BIRONCEKINET}}
                                </div>
                            </div>
                        </td>
                        <td>{{NET.SORUSAYISI}}</td>
                        <td style="width:150px!important;">
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" :style="'width: '+((NET.NET<0?0:NET.NET)/NET.SORUSAYISI*100)+'%'">
                                    <span style="display:inline-block;float:left;">{{NET.NET}}</span>
                                </div>
                                <div v-if="NET.HEDEFNET!=null" class="progress-bar progress-bar-warning pull-right" :style="'width: '+(((NET.HEDEFNET-NET.NET)<0?0:(NET.HEDEFNET-NET.NET))/NET.SORUSAYISI*100)+'%'">
                                    <span style="display:inline-block;float:right;">{{(NET.HEDEFNET-(NET.NET)).toFixed(2)}}</span>
                                </div>
                            </div>
                        </td>
                        <td style="width:80px!important;">
                            <input class="net_touchspin touch form-control" :SORUSAYISI="NET.SORUSAYISI" :NET="NET.NET" v-model="NET.ARTIS" type='text' style='display: block;background-color: #D2D1D1;font-weight:bold;'>
                        </td>
                        <td style="width:80px!important; text-align:center;">
                            {{NET.HEDEFNET}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div v-if="OGRENCISINAVNET.TYTSINAVSONUC!=undefined" class="portlet light" style="margin:0px; border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: rgb(0, 173, 239);">
            <div class="portlet-body" style="padding:0px!important">
                <div class="row" id="SinavAdiYKS" style="font-weight:600;font-size:16px;color:#929191; margin:0px!important;">
                    ({{OGRENCISINAVNET.TYTSINAVSONUC[0].AD}})
                </div>
            </div>
        </div>
        <div v-if="OGRENCISINAVNET.TYTSINAVSONUC!=undefined" class="portlet light" style="min-height: 100px;padding:0px;margin-top:1px; overflow-x:auto;">
            <table id="tablosinavsonucTYT" class="table table-responsive table-bordered" style="margin:0px!important">
                <thead>
                    <tr style='height:45px;background-color: #D6D5D5;'>
                        <td style='vertical-align:middle'>Ders</td>
                        <td style='vertical-align:middle;text-align:center;width:150px;'>Bir Önceki Net<br />{{OGRENCISINAVNET.TYTSINAVSONUC[0].BIRONCEKIAD}}</td>
                        <td style='vertical-align:middle;text-align:center;width:60px;'>Soru Sayısı</td>
                        <td style='vertical-align:middle;text-align:center;width:150px;font-size:10px;'>
                            <div class='progress-bar-success' style='width:15px; height:15px;float:left;'></div> <label style='float: left;'>Güncel Net</label> <br style='clear:both;'>
                            <div class='progress-bar-info' style='width:15px; height:15px;float:left;'></div><label style='float: left;'> Hedeflenen</label>  <br style='clear:both;'>
                            <div class='progress-bar-warning' style='width:15px; height:15px;float:left;'></div><label style='float: left;'> Hedefe Kalan</label>  <br style='clear:both;'>
                        </td>
                        <td style='vertical-align:middle;text-align:center;width:100px;'>Net Artışı</td>
                        <td style='vertical-align:middle;text-align:center;width:60px;'>Hedef Net</td>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="NET in OGRENCISINAVNET.TYTSINAVSONUC" style="cursor:pointer;">
                        <td>{{NET.TAKMAAD}}</td>
                        <td style="width:100px!important;">
                            <div class="progress">
                                <div class="progress-bar progress-bar-gray" role="progressbar" :style="'width: '+((NET.BIRONCEKINET<0?0:NET.BIRONCEKINET)/NET.BIRONCEKISORUSAYISI*100)+'%'" :aria-valuenow="NET.BIRONCEKINET" :aria-valuemin="0" :aria-valuemax="NET.BIRONCEKISORUSAYISI">
                                    {{NET.BIRONCEKINET}}
                                </div>
                            </div>
                        </td>
                        <td>{{NET.SORUSAYISI}}</td>
                        <td style="width:150px!important;">
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" :style="'width: '+((NET.NET<0?0:NET.NET)/NET.SORUSAYISI*100)+'%'">
                                    <span style="display:inline-block;float:left;">{{NET.NET}}</span>
                                </div>
                                <div v-if="NET.HEDEFNET!=null" class="progress-bar progress-bar-warning pull-right" :style="'width: '+(((NET.HEDEFNET-NET.NET)<0?0:(NET.HEDEFNET-NET.NET))/NET.SORUSAYISI*100)+'%'">
                                    <span style="display:inline-block;float:right;">{{(NET.HEDEFNET-(NET.NET)).toFixed(2)}}</span>
                                </div>
                            </div>
                        </td>
                        <td style="width:80px!important;">
                            <input class="net_touchspin touch form-control" :SORUSAYISI="NET.SORUSAYISI" :NET="NET.NET" v-model="NET.ARTIS" type='text' style='display: block;background-color: #D2D1D1;font-weight:bold;'>
                        </td>
                        <td style="width:80px!important; text-align:center;">
                            {{NET.HEDEFNET}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div v-if="OGRENCISINAVNET.YKSSINAVSONUC!=undefined" class="portlet light" style="margin:0px; border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: rgb(0, 173, 239);">
            <div class="portlet-body" style="padding:0px!important">
                <div class="row" id="SinavAdiYKS" style="font-weight:600;font-size:16px;color:#929191; margin:0px!important;">
                    ({{OGRENCISINAVNET.YKSSINAVSONUC[0].AD}})
                </div>
            </div>
        </div>
        <div v-if="OGRENCISINAVNET.YKSSINAVSONUC!=undefined" class="portlet light" style="min-height: 100px;padding:0px;margin-top:1px; overflow-x:auto;">
            <table id="tablosinavsonuc" class="table table-responsive table-bordered" style="margin:0px!important">
                <thead>
                    <tr style='height:45px;background-color: #D6D5D5;'>
                        <td style='vertical-align:middle'>Ders</td>
                        <td style='vertical-align:middle;text-align:center;width:150px;'>Bir Önceki Net<br />{{OGRENCISINAVNET.YKSSINAVSONUC[0].BIRONCEKIAD}}</td>
                        <td style='vertical-align:middle;text-align:center;width:60px;'>Soru Sayısı</td>
                        <td style='vertical-align:middle;text-align:center;width:150px;font-size:10px;'>
                            <div class='progress-bar-success' style='width:15px; height:15px;float:left;'></div> <label style='float: left;'>Güncel Net</label> <br style='clear:both;'>
                            <div class='progress-bar-info' style='width:15px; height:15px;float:left;'></div><label style='float: left;'> Hedeflenen</label>  <br style='clear:both;'>
                            <div class='progress-bar-warning' style='width:15px; height:15px;float:left;'></div><label style='float: left;'> Hedefe Kalan</label>  <br style='clear:both;'>
                        </td>
                        <td style='vertical-align:middle;text-align:center;width:100px;'>Net Artışı</td>
                        <td style='vertical-align:middle;text-align:center;width:60px;'>Hedef Net</td>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="NET in OGRENCISINAVNET.YKSSINAVSONUC" style="cursor:pointer;">
                        <td>{{NET.TAKMAAD}}</td>
                        <td style="width:100px!important;">
                            <div class="progress">
                                <div class="progress-bar progress-bar-gray" role="progressbar" :style="'width: '+((NET.BIRONCEKINET<0?0:NET.BIRONCEKINET)/NET.BIRONCEKISORUSAYISI*100)+'%'" :aria-valuenow="NET.BIRONCEKINET" :aria-valuemin="0" :aria-valuemax="NET.BIRONCEKISORUSAYISI">
                                    {{NET.BIRONCEKINET}}
                                </div>
                            </div>
                        </td>
                        <td>{{NET.SORUSAYISI}}</td>
                        <td style="width:150px!important;">
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" :style="'width: '+((NET.NET<0?0:NET.NET)/NET.SORUSAYISI*100)+'%'">
                                    <span style="display:inline-block;float:left;">{{NET.NET}}</span>
                                </div>
                                <div v-if="NET.HEDEFNET!=null" class="progress-bar progress-bar-warning pull-right" :style="'width: '+(((NET.HEDEFNET-NET.NET)<0?0:(NET.HEDEFNET-NET.NET))/NET.SORUSAYISI*100)+'%'">
                                    <span style="display:inline-block;float:right;">{{(NET.HEDEFNET-(NET.NET)).toFixed(2)}}</span>
                                </div>
                            </div>
                        </td>
                        <td style="width:80px!important;">
                            <input class="net_touchspin touch form-control" :SORUSAYISI="NET.SORUSAYISI" :NET="NET.NET" v-model="NET.ARTIS" type='text' style='display: block;background-color: #D2D1D1;font-weight:bold;'>
                        </td>
                        <td style="width:80px!important; text-align:center;">
                            {{NET.HEDEFNET}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-md-12" id="divkazanim" style="word-break:break-word!important;">
        <div class="portlet light" style="margin:0px; border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: rgb(0, 173, 239);">
            <div class="portlet-body" style="padding:0px!important">
                <div class="row" id="SinavAdiYKS" style="font-weight:600;font-size:16px;color:#929191; margin:0px!important;">
                    KAZANIMLAR
                </div>
            </div>
        </div>
        <div class="portlet light" style="min-height: 100px;padding:0px;margin-top:1px">
            <div class="panel-group accordion" id="accordion1">
                <div class="panel panel-default" style="margin-top:-1px;" v-for="(u,index) in KAZANIMLAR">
                    <div class="panel-heading">
                        <div class="panel-title" style="padding: 3px;background-color: #444d58;">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" :href="'#collapse_'+index" aria-expanded="true" style="font-size:14px; color:#FFF">
                                <div style="display:inline-block; width:calc(100% - 60px); overflow:hidden; text-overflow:ellipsis;">{{u.DERSAD}}</div>
                                <div :class="'badge badgenew pull-right'+' badge'+parseInt(u.DERSYUZDE-u.DERSYUZDE%10)">
                                    {{u.DERSYUZDE}}
                                </div>
                            </a>
                        </div>
                    </div>
                    <div :id="'collapse_'+index" class="panel-collapse collapse" aria-expanded="true" style="">
                        <table class="table table-responsive table-bordered" style="margin:0PX!important;">
                            <tbody>
                                <tr style="background-color: #F1F1F1; cursor:pointer;" v-for="k in u.UNITELER" :title="'Doğru: ' + k.TD + ' Yanlış: ' + k.TY+ ' Boş: ' + k.TB">
                                    <td @click="DetayGoster(k)" v-html="k.UNITEAD"></td>
                                    <td title="Akıllı Öğretim Barkod Videoları">
                                        <div v-for="(item,j) in k.AKILLIBARKODLIST">
                                            <a :href="item.LINK" target="_blank">
                                                <i class="fa fa-2x fa-youtube-play"></i>
                                            </a>
                                        </div>
                                    </td>
                                    <td title="Kazanım Videoları">
                                        <div v-for="(item,j) in k.LINKLIST">
                                            <a :href="item.LINK" target="_blank">
                                                <i class="fa fa-2x fa-youtube-play"></i>
                                            </a>
                                        </div>
                                    </td>
                                    <td title="Kazanım Pdf">
                                        <div v-for="(item,j) in k.KAZANIMDOSYALIST">
                                            <a :href="'https://okyanusdata.s3-eu-west-1.amazonaws.com/pusulam/kazanim/dosya/' + item.GUID" target="_blank">
                                                <i class="fa fa-2x fa-file-pdf-o"></i>
                                            </a>
                                        </div>
                                    </td>
                                    <td style="text-align:center;vertical-align:middle; width:40px;">{{k.UNITEYUZDE}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="detay_modal" class="modal fade" tabindex="-1" data-replace="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Bölüm Detayları</h4>
                </div>
                <div class="modal-body">
                    <div class="form-body form-horizontal">
                        <div class="row" style="margin:0px!important;" v-if="SECILIDATA!=null">
                            <table class="table table-striped table-bordered table-checkable">
                                <tbody>
                                    <tr><td>PROGRAM KODU</td><td>{{SECILIDATA.PROGRAMKODU}}</td></tr>
                                    <tr>
                                        <td>YERLESENLERIN YKS NETLERI</td>
                                        <td>
                                            <a :href='"https://yokatlas.yok.gov.tr/lisans-panel.php?y="+SECILIDATA.PROGRAMKODU+"&p=1210a&pr=1"' target="_blank" v-if="SECILIDATA.OGRENIMSURESI==4">Detaya Git</a>
                                            <a :href='"https://yokatlas.yok.gov.tr/onlisans.php?y="+SECILIDATA.PROGRAMKODU+"#c3210a"' target="_blank" v-if="SECILIDATA.OGRENIMSURESI==2">Detaya Git</a>
                                        </td>
                                    </tr>
                                    <tr><td>UNIVERSITE</td><td>{{SECILIDATA.UNIVERSITE}}</td></tr>
                                    <tr><td>FAKULTE</td><td>{{SECILIDATA.FAKULTE}}</td></tr>
                                    <tr><td>BOLUM</td><td>{{SECILIDATA.BOLUM}}</td></tr>
                                    <tr><td>BOLUM2</td><td>{{SECILIDATA.BOLUM2}}</td></tr>
                                    <tr><td>EGITIM DILI</td><td>{{SECILIDATA.EGITIMDILI}}</td></tr>
                                    <tr><td>UCRET/BURS</td><td>{{SECILIDATA.UCRETBURS}}</td></tr>
                                    <tr><td>IL</td><td>{{SECILIDATA.IL}}</td></tr>
                                    <tr><td>UNIVERSITE TURU</td><td>{{SECILIDATA.UNIVERSITETURU}}</td></tr>
                                    <tr><td>OGRENIM SURESI</td><td>{{SECILIDATA.OGRENIMSURESI}}</td></tr>
                                    <tr><td>OGRENIM TURU</td><td>{{SECILIDATA.OGRENIMTURU}}</td></tr>
                                    <tr><td>PUAN TURU</td><td>{{SECILIDATA.PUANTURU}}</td></tr>
                                    <tr><td>YIL</td><td>{{SECILIDATA.YIL}}</td></tr>
                                    <tr><td>TABAN PUAN</td><td>{{SECILIDATA.TABANPUAN}}</td></tr>
                                    <tr><td>KONTENJAN</td><td>{{SECILIDATA.KONTENJAN}}</td></tr>
                                    <tr><td>PROGRAM TURU</td><td>{{SECILIDATA.PROGRAMTURU}}</td></tr>
                                    <tr><td>SON YGS YERLESTIRME</td><td>{{SECILIDATA.SONYGSYERLESTIRME}}</td></tr>
                                    <tr><td>OKUL BIRINCILIGI KONTENJANI</td><td>{{SECILIDATA.OKULBIRINCILIGIKONTENJANI}}</td></tr>
                                    <tr><td>YER ONCELIKLERI</td><td>{{SECILIDATA.YERONCELIKLERI}}</td></tr>
                                    <tr><td>EN BUYUK PUAN</td><td>{{SECILIDATA.ENBUYUKPUAN}}</td></tr>
                                    <tr><td>BASARI SIRALAMA</td><td>{{SECILIDATA.BASARISIRALAMA}}</td></tr>
                                    <tr><td>OZEL KOSUL ACIKLAMA</td><td v-html="SECILIDATA.OZELKOSULACIKLAMA"></td></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn default" data-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>

    <div id="kazanim_modal" class="modal fade" tabindex="-1" data-replace="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Kazanım Detayları</h4>
                </div>
                <div class="modal-body">
                    <div class="form-body form-horizontal">
                        <div class="row" style="margin:0px!important;" v-if="SECILIKAZANIM!=null">
                            <h4>
                                {{SECILIKAZANIM.UNITEAD}}
                            </h4>
                            <table class="table table-striped table-bordered table-checkable">
                                <tbody>
                                    <tr><td>DOĞRU</td><td>{{SECILIKAZANIM.TD}}</td></tr>
                                    <tr><td>YANLIŞ</td><td>{{SECILIKAZANIM.TY}}</td></tr>
                                    <tr><td>BOŞ</td><td>{{SECILIKAZANIM.TB}}</td></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn default" data-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="portlet light" style="margin:0px; border-bottom-style: solid;border-bottom-width: 3px;border-bottom-color: rgb(0, 173, 239);">
            <div class="portlet-body" style="padding:0px!important">
                <div class="row" style="font-weight:600;font-size:16px;color:#929191; margin:0px!important;">
                    SINAV NET GRAFİĞİ
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 0px!important;margin-bottom: 3px!important;">
            <c-sinavturu controller="MevcutDurum" v-if="OGRTCKIMLIKNO!=''"
                         :tc="OGRTCKIMLIKNO"
                         @OnChange="SinavTuruGrSelected">
            </c-sinavturu>
            <c-sinav-ders :dersler="NETGRAFIKDATA.DERSLIST"
                          ilksecenek="Toplam Net"
                          @OnChange="SinavDersSelected">
            </c-sinav-ders>
        </div>
        <div class="portlet light" style="min-height: 100px; padding: 10px;text-align:center">
            <div id="chartdiv"></div>
        </div>
    </div>
</div>
<script src="/VueComponents/UniversiteFiltreleri.js?v=1"></script>
<script src="/VueComponents/SinavIstatistikFiltreleri.js"></script>
<script src="/assets/global/plugins/bootstrap-slider/bootstrap-slider.min.js"></script>
<script>
    var vue = new Vue({
        el: "#app",
        name: "MevcutDurum.html",

        data: {
            HEDEFLER: null,
            SECILIDATA: null,
            HEDEFPUANTURLERI: null,
            PUANTURU: '0',
            SLIDER: null,
            OGRENCISONPUAN: null,
            OGRENCIHEDEFPUAN: null,
            OGRENCISINAVNET: null,
            KAZANIMLAR: null,
            DERS: null,
            ISSTARTED: false,
            ListKullaniciTipi: [],
            OGRTCKIMLIKNO: '',
            TCKIMLIKNO: '',
            SECILIKAZANIM: null,
            NETGRAFIKDATA: {}
        },

        mounted() {
            this.TCKIMLIKNO = session.TCKIMLIKNO;
            vue = this;

            var p = {
                TCKIMLIKNO: session.TCKIMLIKNO,
                OTURUM: session.OTURUM
            };
            var _this = this;
            var list = [];
            WebPost(this, "MevcutDurum", "KullaniciTipiGetir", p, "#app", "Yükleniyor...", function (data, parent) {
                if (data != null) {
                    $.each(data, function (j, el) {
                        list.push(this.ID_KULLANICITIPI)
                    });
                    parent.ListKullaniciTipi = list;
                    if (list.indexOf(4) > -1) {
                        parent.OGRTCKIMLIKNO = session.TCKIMLIKNO;
                        parent.HedefListele();
                        parent.KazanimListele();
                    } else if (list.indexOf(5) > -1) {
                        parent.HedefListele();
                    }
                } else {
                    Alert_Warning("Kullanıcı Bulunamadı..!");
                }
            });
        },

        methods: {
            OgrenciVeliSelected(item) {
                this.OGRTCKIMLIKNO = item;
                this.HedefListele();
                this.KazanimListele();
            },

            PuanTuruSelected(PUANTURU) {
                this.PUANTURU = PUANTURU;
                this.HedefListele();
            },

            SinavTuruGrSelected(SINAVTURUGR) {
                this.SINAVTURUGR = SINAVTURUGR;
                this.SinavNetGrafigiGetir();
            },

            SinavDersSelected() {
                var SinavDers = $("#Dersler option:selected").text();

                var dataList = [];
                var list = this.NETGRAFIKDATA.NETLIST.filter(x => x.DERSAD == SinavDers);
                var maxnet = 0;
                for (var i = 0; i < list.length; i++) {
                    var data = { "sinavlar": list[i].SINAVAD, "netler": list[i].NET, "color": "#0D52D1" };
                    dataList.push(data);
                    if (maxnet > parseFloat(list[i].NET)) {
                        maxnet = parseFloat(list[i].NET);
                    }
                }

                console.log(dataList);

                AmchartOlustur("chartdiv", dataList, (maxnet + 5), "netler", "sinavlar", "color", SinavDers + " Net", true);
            },

            SinavNetGrafigiGetir() {
                var p = { TCKIMLIKNO: session.TCKIMLIKNO, OTURUM: session.OTURUM, ID_SINAVTURU: this.SINAVTURUGR, OGRTCKIMLIKNO: this.OGRTCKIMLIKNO };
                WebPost(this, "MevcutDurumOO", "SinavTuruNetGrafikListele", p, '', '', function (data, parent) {
                    parent.NETGRAFIKDATA = JSON.parse(data);
                    parent.SinavDersSelected();
                });
            },

            getObjects(obj, key, val) {
                var objects = [];
                for (var i in obj) {
                    if (!obj.hasOwnProperty(i)) continue;
                    if (typeof obj[i] == 'object') {
                        objects = objects.concat(this.getObjects(obj[i], key, val));
                    } else if (i == key && obj[key] == val) {
                        objects.push(obj);
                    }
                }
                return objects;
            },

            HedefDetayGor(PROGRAMKODU) {
                this.SECILIDATA = this.getObjects(vue.HEDEFLER, 'PROGRAMKODU', PROGRAMKODU)[0];
                $('#detay_modal').modal();
            },

            HedefListele() {
                var p = { TCKIMLIKNO: session.TCKIMLIKNO, OTURUM: session.OTURUM, PUANTURU: this.PUANTURU, OGRTCKIMLIKNO: this.OGRTCKIMLIKNO };
                WebPost(this, "MevcutDurum", "HedefListelePuanTur", p, '', '', function (data, parent) {
                    if (data != null) {
                        var parseddata = JSON.parse(data);
                        if (parseddata.TERCIHSAYISI < 5) {
                            if (vue.ListKullaniciTipi.indexOf(4) > -1) {
                                parent.Alert_Hedef();
                            } else {
                                Alert_Warning("Öncelikle en az 5 adet hedef tanımlanmalı. Bu işlemi öğrenci kullanıcısından yapabilirsiniz!");
                            }
                        } else {
                            vue.HEDEFLER = parseddata.LIST
                            vue.OgrenciSonPuanGetir();
                            vue.OgrenciSinavNetListele();
                        }
                    }
                    //else {
                    //    if (vue.ListKullaniciTipi.indexOf(4) > -1) {
                    //        parent.Alert_Hedef();
                    //    } else {
                    //        Alert_Warning("Öncelikle en az 5 adet hedef tanımlanmalı. Bu işlemi öğrenci kullanıcısından yapabilirsiniz!");
                    //    }
                    //}
                })
            },

            Alert_Hedef() {
                bootbox.dialog({
                    message: "<font color='green'>Bu sayfayı kullanabilmek için öncelikle tercihlerinizi belirlemeniz ve herhangi bir puan türünden en az 5 tercih yapmanız gerekmektedir.Hedef Belirledikten sonra Anasayfa'ya tıklayarak bu bölüme dönebilirsiniz.</font>",
                    title: "<font color='green'>Uyarı</font>",
                    buttons: {
                        success: {
                            label: "Tamam!",
                            className: "btn-success",
                            callback: function () {
                                window.location.replace("#Ogrenci/Hedefler/HedefBelirleme");
                            }
                        },
                    }
                });
            },

            OgrenciSonPuanGetir() {
                var p = { TCKIMLIKNO: session.TCKIMLIKNO, OTURUM: session.OTURUM, ID_SINAVPUANTURU: this.PUANTURU, OGRTCKIMLIKNO: this.OGRTCKIMLIKNO };
                WebPost(this, "MevcutDurum", "OgrenciSonPuanGetir", p, '', '', function (data, parent) {
                    if (data != null) {
                        var PUAN = JSON.parse(data)[0].PUAN;
                        var HEDEFPUAN = JSON.parse(data)[0].HEDEFPUAN;
                        vue.OGRENCISONPUAN = PUAN != null ? PUAN.toFixed(3) : 0;
                        vue.OGRENCIHEDEFPUAN = HEDEFPUAN != null ? HEDEFPUAN.toFixed(3) : 0;
                    }
                    vue.CreateSlider();
                    parent.ISSTARTED = false;
                })
            },

            CreateSlider() {
                if (vue.HEDEFLER == null) {
                    vue.HEDEFLER = new Array();
                }
                var HedefPuanlar = new Array();
                var Labeller = new Array();

                HedefPuanlar.push(560.000);
                Labeller.push("560.000");

                for (var i = 0; i < vue.HEDEFLER.length; i++) {
                    HedefPuanlar.push(parseFloat(vue.HEDEFLER[i].TABANPUAN));
                    Labeller.push(vue.HEDEFLER[i].TABANPUAN.toString());
                }

                if (vue.SLIDER != null) {
                    $("#hedeflerslider").slider('destroy');
                }

                var tickplus = 0;

                var endusuktercih = Math.min.apply(Math, HedefPuanlar);
                var enyuksektercih = Math.max.apply(Math, HedefPuanlar);

                if (vue.OGRENCISONPUAN != null) {
                    if (parseFloat(vue.OGRENCISONPUAN) < endusuktercih) {
                        HedefPuanlar.push(parseFloat(vue.OGRENCISONPUAN));
                        Labeller.push(vue.OGRENCISONPUAN.toString());
                        tickplus = 1;
                    }
                    else if (parseFloat(vue.OGRENCISONPUAN) > enyuksektercih) {
                        HedefPuanlar.unshift(parseFloat(vue.OGRENCISONPUAN));
                        Labeller.unshift(vue.OGRENCISONPUAN.toString());
                    } else {
                        var index = 0
                        for (var i = 0; i < HedefPuanlar.length; i++) {
                            if (parseFloat(vue.OGRENCISONPUAN) < HedefPuanlar[i]) {
                                index = i;
                            }
                        }
                        HedefPuanlar.splice(index + 1, 0, parseFloat(vue.OGRENCISONPUAN));
                        Labeller.splice(index + 1, 0, vue.OGRENCISONPUAN.toString());
                    }
                }

                var tickpositions = [];
                var positions = 0;
                tickpositions.push(positions);
                var artismiktari = parseFloat(100 / (HedefPuanlar.length - 1));

                for (var z = 0; z < HedefPuanlar.length - 1; z++) {
                    positions += artismiktari;
                    tickpositions.push(positions);
                }

                tickpositions.push(100);

                var tickpositionsx = [];
                for (var i = 0; i < tickpositions.length; i++) {
                    if (tickpositionsx.indexOf(tickpositions[i]) == -1) {
                        tickpositionsx.push(tickpositions[i]);
                    }
                }

                vue.SLIDER = $("#hedeflerslider").slider({
                    scale: 'linear',
                    reversed: true,
                    ticks: HedefPuanlar.reverse(),
                    ticks_labels: Labeller,
                    handle: 'round',
                    ticks_positions: tickpositions,
                    enabled: false,
                    range: true,
                    natural_arrow_keys: true,
                    precision: 3,
                    tooltip: 'always',
                    tooltip_split: true
                });

                if (vue.OGRENCISONPUAN != null && vue.OGRENCIHEDEFPUAN != null) {
                    $("#hedeflerslider").slider('setValue', [parseFloat(vue.OGRENCISONPUAN), parseFloat(vue.OGRENCIHEDEFPUAN)]);
                }

                $(".tooltip-max").attr("class", "tooltip tooltip-max left in");
                var stil = $(".tooltip-max").attr("style").replace("left", "right");
                $(".tooltip-max").attr("style", stil);

                $(".tooltip-min .tooltip-inner").html("Güncel :" + $(".tooltip-min .tooltip-inner").html());
                $(".tooltip-max .tooltip-inner").html("Hedeflenen :" + $(".tooltip-max .tooltip-inner").html());

                $(".tooltip-min").css("z-index", "5");
                $(".tooltip-max").css("z-index", "5");
            },

            OgrenciSinavNetListele() {
                var p = { TCKIMLIKNO: session.TCKIMLIKNO, OTURUM: session.OTURUM, OGRTCKIMLIKNO: this.OGRTCKIMLIKNO, ID_SINAVPUANTURU: this.PUANTURU };
                WebPost(this, "MevcutDurum", "OgrenciSinavNetListele", p, '', '', function (data, parent) {
                    vue.OGRENCISINAVNET = JSON.parse(data)[0]
                    parent.$nextTick(function () {
                        $(".net_touchspin").each(function (i) {
                            var max = parseFloat($(this).attr("SORUSAYISI")) - parseFloat($(this).attr("NET"))
                            $(this).TouchSpin({
                                initval: 0,
                                buttondown_class: "btn blue touch",
                                buttonup_class: "btn blue touch",
                                step: 0.25,
                                decimals: 2,
                                max: max
                            });

                            $(this).on("touchspin.on.stopupspin", function () {
                                this.dispatchEvent(new Event('input'));
                                parent.HedefKaydet();
                            });


                            $(this).on("touchspin.on.stopdownspin", function () {
                                this.dispatchEvent(new Event('input'))
                                parent.HedefKaydet();
                            });
                        });
                        parent.ISSTARTED = false;
                    })
                })
            },

            HedefKaydet() {
                if (vue.OGRENCISINAVNET.AAYKSSINAVSONUC != undefined) {
                    for (var i = 0; i < vue.OGRENCISINAVNET.AAYKSSINAVSONUC.length; i++) {
                        vue.OGRENCISINAVNET.AAYKSSINAVSONUC[i].HEDEFNET = vue.OGRENCISINAVNET.AAYKSSINAVSONUC[i].NET + parseFloat(vue.OGRENCISINAVNET.AAYKSSINAVSONUC[i].ARTIS);
                    }
                }

                if (vue.OGRENCISINAVNET.TYTSINAVSONUC != undefined) {
                    for (var i = 0; i < vue.OGRENCISINAVNET.TYTSINAVSONUC.length; i++) {
                        vue.OGRENCISINAVNET.TYTSINAVSONUC[i].HEDEFNET = vue.OGRENCISINAVNET.TYTSINAVSONUC[i].NET + parseFloat(vue.OGRENCISINAVNET.TYTSINAVSONUC[i].ARTIS);
                    }
                }

                if (vue.OGRENCISINAVNET.YKSSINAVSONUC != undefined) {
                    for (var i = 0; i < vue.OGRENCISINAVNET.YKSSINAVSONUC.length; i++) {
                        vue.OGRENCISINAVNET.YKSSINAVSONUC[i].HEDEFNET = vue.OGRENCISINAVNET.YKSSINAVSONUC[i].NET + parseFloat(vue.OGRENCISINAVNET.YKSSINAVSONUC[i].ARTIS);
                    }
                }

                vue.$nextTick(function () {
                    var p = { TCKIMLIKNO: session.TCKIMLIKNO, OTURUM: session.OTURUM, SQLJSON: JSON.stringify(vue.OGRENCISINAVNET), OGRTCKIMLIKNO: this.OGRTCKIMLIKNO, ID_SINAVPUANTURU: this.PUANTURU };
                    if (!this.ISSTARTED) {
                        this.ISSTARTED = true;
                        WebPost(vue, "MevcutDurum", "HedefNetEkle", p, '', '', function (data, parent) {
                            if (data == true) {
                                vue.OgrenciSonPuanGetir();
                                //vue.HedefListele();
                                //vue.OgrenciSinavNetListele();
                            }
                        });
                    }
                });
            },

            KazanimListele() {
                var p = { TCKIMLIKNO: session.TCKIMLIKNO, OTURUM: session.OTURUM, OGRTCKIMLIKNO: this.OGRTCKIMLIKNO };
                WebPost(this, "MevcutDurum", "KazanimListele", p, '#divkazanim', '', function (data, parent) {
                    vue.KAZANIMLAR = JSON.parse(data);
                })
            },

            DetayGoster(k) {
                this.SECILIKAZANIM = k;
                this.$nextTick(function () {
                    $('#kazanim_modal').modal();
                });
            }
        }
    });
</script>
<script src="Scripts/PublicMethods.js"></script>