

<link href="assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" type="text/css" />
<style>
    td {
        vertical-align: middle !important;
    }

    tr td:first-child {
        text-align: left !important;
    }

    tbody tr {
        height: 51px;
    }

    .row {
        margin-top: 10px !important;
    }

    .modal-dialog {
        width: 500px;
    }

    table.dataTable {
        margin: 0px !important;
    }
</style>


<div class="page-head">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title col-md-12">
        <h1>
            Sınav <small>Ders Ünite</small> <span onclick="YardimGoster(ID_MENU);" class="pull-right" style="cursor:pointer;"><img src="assets/global/img/info.gif" class="info-image-icon" /> </span>
        </h1>
    </div>
    <!-- END PAGE TITLE -->
</div>

<div class="row" id="app">

    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-plus font-green"></i>
                    <span class="caption-subject bold font-green uppercase">Ders Ünite Ekle</span>
                    <span class="caption-helper"></span>
                    <div class="note note-success" style="margin-top: 15px;">
                        <span class="label label-danger">NOTE!</span>                        
                        Eklenmek istenen kazanım daha önce eklenmişse sadece adı düzenlenir. Silinmek istenen kazanımın daha önce bir sınavda sorulmamış olması gerekmektedir.
                    </div>
                </div>
            </div>
            <!-- BEGIN PORTLET-->
            <div class="portlet-body form">
                <form role="form">
                    <div class="portlet-body" style="padding:0px;">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="row">
                                    <c-sinavgrup controller="DersUnite"
                                                 :id_kademe3="ID_KADEME3"
                                                 @OnChange="KademeDersSelected">
                                    </c-sinavgrup>
                                </div>
                                <div class="row">
                                    <c_ders controller="DersUnite"
                                            :id_kademe3="ID_KADEME3"
                                            @OnChange="DersSelected">
                                    </c_ders>
                                </div>

                                <div>
                                    <div class="row pull-right" style="margin-right: 1px;" v-show="ID_DERS>0">
                                        <div class="btn-group" style="position:relative;">
                                            <button class="btn btn-xs green dropdown-toggle form-control" type="button" data-toggle="dropdown" aria-expanded="false">
                                                İşlemler
                                                <i class="fa fa-angle-down"></i>
                                            </button>
                                            <ul class="dropdown-menu pull-right" role="menu">
                                                <li @click="UniteSilTumu">
                                                    <a href="javascript:;">
                                                        <i class="fa fa-lg fa-trash-o" /> Üniteleri Sil
                                                    </a>
                                                </li>
                                                <li @click="ExcelTaslakIndir('Unite')">
                                                    <a href="javascript:;">
                                                        <i class="fa fa-lg fa-files-o" /> Ünite Taslak
                                                    </a>
                                                </li>
                                                <li @click="ExcelYukle('Unite')">
                                                    <a href="javascript:;">
                                                        <i class="fa fa-lg fa-files-o" /> Ünite Yükle
                                                    </a>
                                                </li>

                                                <li class="divider"> </li>
                                                <li @click="ExcelTaslakIndir('UniteLink')">
                                                    <a href="javascript:;">
                                                        <i class="fa fa-lg fa-files-o" /> Ünite Link Taslak
                                                    </a>
                                                </li>
                                                <li @click="ExcelYukle('UniteLink')">
                                                    <a href="javascript:;">
                                                        <i class="fa fa-lg fa-files-o" /> Ünite Link Yükle
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-inline list-group-item row" v-if="ID_DERS>0">
                                        <c-rapor-tur-buton colmd="5" @Yazdir="Yazdir"> </c-rapor-tur-buton>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="portlet light">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <i class="icon-list font-green"></i>
                                            <span class="caption-subject bold font-green uppercase">Üniteler</span>
                                            <span class="caption-helper"></span>
                                        </div>
                                        <div class="caption" style="float:right;" v-if="ID_KADEME3>0 && ID_DERS>0">
                                            <i class="font-green fa fa-lg fa-plus-circle" style="cursor:pointer;" data-toggle='modal' @click="UniteEkleModal"></i>
                                            <span style="cursor:pointer;" class="caption-subject font-green" data-toggle='modal' @click="UniteEkleModal" title="Ünite Ekle">Ünite Ekle</span>
                                            <span class="caption-helper"></span>
                                        </div>
                                        <div class="caption" style="float:right;" v-else="ID_KADEME3==0||ID_DERS==0">
                                        </div>
                                    </div>
                                    <!-- BEGIN PORTLET-->
                                    <div class="portlet-body form">
                                        <div class="portlet light bordered">
                                            <div class="portlet-body" style="padding:0px;">
                                                <table class="table table-striped table-bordered table-checkable" id='tblunite'>
                                                    <thead>
                                                        <tr>
                                                            <th>Kod</th>
                                                            <th>Ad</th>
                                                            <th style="width:100px!important;">İşlemler</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr class="odd gradeX" v-for="u in JSONUNITE">
                                                            <td>{{u.KOD}}</td>
                                                            <td v-html="u.AD" :style='"padding-left: "+(u.KOD.length*5)+"px;"'></td>
                                                            <!--<td v-html="bosluk(u.KOD.length,u.AD)" ></td>-->
                                                            <td style="width:120px!important;">

                                                                <button type="button" class="btn btn-xs red pull-right" @click="UniteSil(u.ID_DERSUNITE)">Sil</button>
                                                                <button type="button" class="btn btn-xs green" @click="UniteDuzelt(u)">Düzelt</button>



                                                                <!--<div class="btn-group" style="position:relative;">
                                                                    <button class="btn btn-xs green dropdown-toggle form-control" type="button" data-toggle="dropdown" aria-expanded="false">
                                                                        İşlemler
                                                                        <i class="fa fa-angle-down"></i>
                                                                    </button>
                                                                    <ul class="dropdown-menu pull-right" role="menu">
                                                                        <li @click="UniteSil(u.ID_DERSUNITE)">
                                                                            <a href="javascript:;">
                                                                                <i class="fa fa-lg fa-trash-o" /> Sil
                                                                            </a>
                                                                        </li>
                                                                        <li @click="UniteDuzelt(u)">
                                                                            <a href="javascript:;">
                                                                                <i class="fa fa-lg fa-files-o" /> Düzelt
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </div>-->



                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END PORTLET-->
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <!-- END PORTLET-->
        </div>
    </div>

    <!-- Ünite Ekle modal-->
    <div class="col-md-12">
        <div id="unite_modal" class="modal fade" tabindex="-1" data-replace="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Ünite Detay</h4>
                    </div>
                    <div class="modal-body" align="center" valign="middle">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="form-md-line-input">
                                            <label class="control-label col-md-3" style="vertical-align:middle;">Kod</label>
                                            <div class="col-md-9">
                                                <input type="text" v-model="UNITE.KOD" class="form-control" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-md-line-input">
                                            <label class="control-label col-md-3" style="vertical-align:middle;">Ad</label>
                                            <div class="col-md-9">
                                                <input type="text" v-model="UNITE.AD" class="form-control" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row" v-for="(u,j) in UNITE.LINKLIST">
                                        <div class="form-md-line-input">
                                            <label class="control-label col-md-3" style="vertical-align:middle; margin-top: 7px;">Link {{j + 1}}</label>
                                            <div class="col-md-9">
                                                <div class="col-md-10" style="padding: 0px;">
                                                    <input type="text" v-model="u.LINK" class="form-control" />
                                                </div>
                                                <button type="button" class="btn btn-xs red pull-right" style="margin-top: 5px;" @click="LinkSil(j)"><i class="fa fa-close"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="javascript:;" @click="UNITE.LINKLIST.push({ LINK: '' })" style="float: right;margin-top: 30px;background-color: cornflowerblue;" data-repeater-create class="btn btn-success mt-repeater-add">
                                        <i class="fa fa-plus"></i> Link Ekle
                                    </a>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer margin-right-10">
                        <button type="button" data-dismiss="modal" class="btn dark btn-outline margin-right-10 margin-top-10">Kapat</button>
                        <button type="button" class="btn btn-success btn-outline margin-right-10 margin-top-10" v-on:click="UniteEkle()">Kaydet</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Ünite Güncelle modal-->
    <div id="unitedty" class="modal fade" tabindex="-1" data-replace="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Ünite Detay</h4>
                </div>
                <div class="modal-body" align="center" valign="middle">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="form-md-line-input">
                                        <label class="control-label col-md-3" style="vertical-align:middle;">Kod</label>
                                        <div class="col-md-9">
                                            <input type="text" v-if="UNITE!=null" v-model="UNITE.KOD" disabled class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-md-line-input">
                                        <label class="control-label col-md-3" style="vertical-align:middle;">Ad</label>
                                        <div class="col-md-9">
                                            <input type="text" v-if="UNITE!=null" v-model="UNITE.AD" class="form-control" />
                                        </div>
                                    </div>
                                </div>


                                <div class="row" v-for="(u,j) in UNITE.LINKLIST">
                                    <div class="form-md-line-input">
                                        <label class="control-label col-md-3" style="vertical-align:middle; margin-top: 7px;">Link {{j + 1}}</label>
                                        <div class="col-md-9">
                                            <div class="col-md-10" style="padding: 0px;">
                                                <input type="text" v-model="u.LINK" class="form-control" />
                                            </div>
                                            <button type="button" class="btn btn-xs red pull-right" style="margin-top: 5px;" @click="LinkSil(j)"><i class="fa fa-close"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <a href="javascript:;" @click="UNITE.LINKLIST.push({ LINK: '' })" style="float: right;margin-top: 30px;background-color: cornflowerblue;" data-repeater-create class="btn btn-success mt-repeater-add">
                                    <i class="fa fa-plus"></i> Link Ekle
                                </a>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer margin-right-10">
                    <button type="button" data-dismiss="modal" class="btn dark btn-outline margin-right-10 margin-top-10">Kapat</button>
                    <button type="button" class="btn btn-success btn-outline margin-right-10 margin-top-10" @click="UniteGuncelle()">Güncelle</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Excel Yükle modal-->
    <div class="modal fade" id="ExcelModal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Excel ile Ünite Yükleme</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="fileinput fileinput-new" data-provides="fileinput">
                            <div class="form-control uneditable-input input-fixed input-medium" data-trigger="fileinput">
                                <i class="fa fa-file fileinput-exists"></i>&nbsp;
                                <span class="fileinput-filename"> </span>
                            </div>
                            <span class="btn default btn-file">
                                <span class="fileinput-new yellow"> Excel'den Yükle </span>
                                <span class="fileinput-exists"> Değiştir </span>
                                <input type="file" name="..." accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" id="Dosya" data-preview-file-type="text">
                            </span>
                            <a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput"> Sil </a>
                            <a href="javascript:;" @click="DosyaKaydet" class="btn green fileinput-exists" data-dismiss="modal"> Tamam </a>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"> Kapat </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="VueComponents/SinavFiltreleri.js"></script>
<script src="../../../VueComponents/Genel.js?v=6"></script>
<script>
    var tblUnite = null;
    var vue = new Vue({
        el: "#app",
        name: "DersUnite.html",
        data: {
            ID_KADEME3: 0,
            ID_DERS: 0,
            ID_DERSUNITE: 0,
            JSONUNITE: [],
            dosyaYukleUnite: '',
            UNITE: { ID_DERSUNITE: 0, AD: '', ID_DERS: 0, KOD: '', LINKLIST: [{ LINK: '' }] }

        },

        mounted() {
            this.ListeOlustur();
        },
        updated() {
            $("#ddluniteID").hide();
        },
        methods: {
            KademeDersSelected(ID_KADEME3) {
                this.ID_KADEME3 = ID_KADEME3;
                this.UniteGetir();
            },
            DersSelected(ID_DERS) {
                this.ID_DERS = ID_DERS;
                this.UNITE.ID_DERS = ID_DERS;
                this.UniteGetir();
            },
            UniteGetir() {
                this.JSONUNITE = [];
                if (tblUnite != null) {
                    tblUnite.rows().remove().draw();
                    tblUnite.destroy();
                }
                var p = {
                    TCKIMLIKNO: session.TCKIMLIKNO,
                    OTURUM: session.OTURUM,
                    ID_DERS: this.ID_DERS,
                    ID_KADEME3: this.ID_KADEME3
                };
                WebPost(this, "DersUnite", "DersUniteGetir", p, '', '', function (data, parent) {
                    if (data != null) {
                        parent.JSONUNITE = JSON.parse(data);

                        //DOM update olmasını bekleyip update olunca listeyi oluşturuyor.
                        Vue.nextTick(function () {
                            parent.ListeOlustur();
                        })
                    }
                    else {
                        Alert_Warning("Liste Bulunamadı!");
                    }
                })
            },
            ListeOlustur() {
                tblUnite = $('#tblunite').DataTable(
                    {
                        "columnDefs": [{ "width": "25%", "targets": 0 }],
                        language: {
                            "url": "./Utility/dil.json"
                        }
                    });
            },

            UniteSil(ID_DERSUNITE) {
                Alert_Confirm("Emin misiniz?", "Soru Silinsin mi?", function () {
                    this.ID_DERSUNITE = ID_DERSUNITE;
                    var p = {
                        TCKIMLIKNO: session.TCKIMLIKNO,
                        OTURUM: session.OTURUM,
                        ID_DERSUNITE: ID_DERSUNITE
                    };
                    WebPost(vue, "DersUnite", "UniteSil", p, '', '', function (data, parent) {
                        if (data == true) {
                            Vue.nextTick(function () {
                                parent.UniteGetir();
                            })
                        }
                    });

                });
            },
            UniteDuzelt(UNITE) {
                this.UNITE = JSON.parse(JSON.stringify(UNITE));
                $("#unitedty").modal();
            },
            UniteGuncelle() {
                if (this.UNITE.KOD.length % 3 == 0) {
                    var p = {
                        TCKIMLIKNO: session.TCKIMLIKNO,
                        OTURUM: session.OTURUM,
                        ID_DERS: this.ID_DERS,
                        ID_KADEME3: this.ID_KADEME3,
                        KOD: this.UNITE.KOD,
                        AD: this.UNITE.AD,
                        ID_DERSUNITE: this.UNITE.ID_DERSUNITE,
                        LINKLIST: JSON.stringify(this.UNITE.LINKLIST),
                    };

                    if (p.AD != "" && p.KOD != "") {
                        WebPost(this, "DersUnite", "UniteGuncelle", p, '', '', function (data, parent) {
                            if (data == true) {
                                Alert_Info("Güncelleme İşlemi Başarılı");
                                $("#unitedty").modal("hide");
                                Vue.nextTick(function () {
                                    parent.UniteGetir();
                                })
                            }
                            else {
                                Alert_Warning("Güncelleme işlemi Başarısız");
                            }
                        })
                    }
                    else {
                        Alert_Warning("Alanları boş geçmeyin!");
                    }
                } else {
                    Alert_Warning("Kodlar üç veya üçün katı karakterden oluşmalıdır!");
                }
            },
            bosluk(length, ad) {
                var str = '';
                for (var i = 0; i < (length - 6) * 2; i++) {
                    str += '&nbsp';
                }
                return str + ad;
            },

            UniteEkleModal() {

                this.UNITE = { ID_DERSUNITE: 0, AD: '', ID_DERS: this.ID_DERS, KOD: '', LINKLIST: [{ LINK: '' }] };
                $("#unite_modal").modal();
            },
            UniteEkle() {
                var _this = this;
                if (this.UNITE.KOD.length % 3 == 0) {
                    var p = {
                        TCKIMLIKNO: session.TCKIMLIKNO,
                        OTURUM: session.OTURUM,
                        ID_DERS: this.ID_DERS,
                        ID_KADEME3: this.ID_KADEME3,
                        KOD: this.UNITE.KOD,
                        AD: this.UNITE.AD,
                        LINKLIST: JSON.stringify(this.UNITE.LINKLIST),
                    };
                    if (p.AD != "" && p.KOD != "" && p.ID_DERS != 0 && p.ID_KADEME3 != 0) {
                        WebPost(this, "DersUnite", "UniteEkle", p, '', '', function (data, parent) {
                            if (data == true) {
                                Alert_Info("Ekleme İşlemi Başarılı");
                                $("#unite_modal").modal("hide");
                                _this.UNITE.KOD = '';
                                _this.UNITE.AD = '';
                                Vue.nextTick(function () {
                                    parent.UniteGetir();
                                });
                            }
                            else {
                                Alert_Warning("Ekleme işlemi Başarısız");
                            }
                        })
                    }
                    else {
                        Alert_Warning("Alanları boş geçmeyin!");
                    }
                } else {
                    Alert_Warning("Kodlar üç veya üçün katı karakterden oluşmalıdır!");
                }
            },

            LinkSil(j) {
                this.UNITE.LINKLIST.splice(j, 1);
            },

            ExcelYukle(dosyaYukleUnite) {
                this.dosyaYukleUnite = dosyaYukleUnite;
                $('#ExcelModal').modal();
            },
            DosyaKaydet() {

                var dosya = document.getElementById('Dosya').files;
                if (dosya.length == 0) {
                    Alert_Info('Lütfen Dosya Seçiniz.');
                    return;
                }
                var _this = this;

                ExcelVeriYukle(this.dosyaYukleUnite, dosya, function (response) {

                    $('.fileinput').fileinput("clear");

                    var p = {
                        TCKIMLIKNO: session.TCKIMLIKNO,
                        OTURUM: session.OTURUM,
                        SQLJSON: response,
                        ID_DERS: _this.ID_DERS,
                    };

                    //  UniteEkleExcel
                    //  UniteLinkEkleExcel

                    WebPost(vue, "DersUnite", _this.dosyaYukleUnite + 'EkleExcel', p, '', '', function (data, parent) {
                        if (data) {
                            parent.UniteGetir();
                            $('#ExcelModal').modal("hide");
                        } else {
                            Alert_Warning("Bir sorun oluştu. Daha sonra tekrar deneyiniz...");
                        }
                    }, 'RAISERROR');
                });

                /*
                var dosya = document.getElementById('Dosya').files;
                if (dosya.length == 0) {
                    Alert_Info('Lütfen Dosya Seçiniz.');
                    return;
                }
                UniteYukle(dosya, function (response) {
                    $('.fileinput').fileinput("clear");
                    var json = JSON.parse(response);

                    var p = {
                        TCKIMLIKNO: session.TCKIMLIKNO,
                        OTURUM: session.OTURUM,
                        ID_DERS: vue.ID_DERS,
                        SQLJSON: JSON.stringify(json)
                    };
                    console.log(p);

                    WebPost(vue, "DersUnite", "UniteEkleExcel", p, '', '', function (data, parent) {
                        console.log(data)
                        if (data) {
                            parent.UniteGetir();
                            $('#ExcelModal').modal("hide");
                        } else {
                            Alert_Warning("Bir sorun oluştu. Daha sonra tekrar deneyiniz...");
                        }
                    }, 'RAISERROR');
                });
                 */
            },
            ExcelTaslakIndir(taslak) {
                if (taslak == 'Unite') {
                    window.open("Dosyalar/SinavTemplate/UNITETASLAK.xlsx", "_blank");
                }
                else if (taslak == 'UniteLink') {
                    window.open("Dosyalar/SinavTemplate/UNITELINKTASLAK.xlsx", "_blank");
                }

            },
            UniteSilTumu() {
                Alert_Confirm("Emin misiniz?", "İlgili Derse Ait Tüm Üniteler Silinsin mi?", function () {
                    var p = {
                        TCKIMLIKNO: session.TCKIMLIKNO,
                        OTURUM: session.OTURUM,
                        ID_DERS: vue.ID_DERS
                    };

                    WebPost(vue, "DersUnite", "UniteSilTumu", p, '', '', function (data, parent) {
                        if (data == true) {
                            Vue.nextTick(function () {
                                parent.UniteGetir();
                            })
                        }
                    });

                });
            },

            Yazdir(ciktiTuru) {
                if (ciktiTuru == "") {
                    Alert_Warning("Çıktı Türünü Seçiniz.");
                    return;
                }
                if (this.ID_DERS != 0) {
                    window.open('../Rapor.aspx?rapor=Sinav.DersUniteListe&raporTur=' + ciktiTuru + '&p=' + session.TCKIMLIKNO + ';' + session.OTURUM + ';' + this.ID_KADEME3 + ';' + this.ID_DERS, '_blank');
                }
                else {
                    Alert_Warning("Ders seçmeniz gerekmektedir.");
                    return;
                }
            },

        }
    });
</script>
<script src="Scripts/PublicMethods.js"></script>
<script src="assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js" type="text/javascript"></script>

<script src="../assets/global/plugins/jquery-repeater/jquery.repeater.js" type="text/javascript"></script>

<script src="../assets/pages/scripts/form-repeater.min.js" type="text/javascript"></script>



