<style>
    td {
        vertical-align: middle !important;
    }

    .row {
        margin-top: 10px !important;
    }
</style>
<div class="page-head">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title col-md-12">
        <h1>
            Zümre Çalışmaları - Çalışmalarım <span onclick="YardimGoster(ID_MENU);" class="pull-right" style="cursor:pointer;"><img src="assets/global/img/info.gif" class="info-image-icon" /> </span>
        </h1>
    </div>
    <!-- END PAGE TITLE -->
</div>

<div class="row" id="app">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-list font-green"></i>
                    <span class="caption-subject bold font-green uppercase"> Zümre Çalışma Listesi </span>
                    <span class="caption-helper"></span>
                </div>
                <div class="tools" style="color:#32c5d2!important; line-height:34px;">
                </div>
            </div>
            <!-- BEGIN PORTLET-->
            <div class="portlet-body form">
                <form role="form">
                    <div class="portlet light bordered">
                        <div class="portlet-body">
                            <div style="overflow-x:auto">
                                <table class="table table-striped table-bordered table-hover table-checkable" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Ad</th>
                                            <th>Eğitimci</th>
                                            <th>Mekan</th>
                                            <th>Tarih</th>
                                            <th>Yoklama</th>
                                            <th>Yazılı</th>
                                            <th>Katılım Belgesi</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="odd gradeX" v-for="(u, index) in LISTE">
                                            <td>{{u.AD}}</td>
                                            <td>{{u.EGITIMCI}}</td>
                                            <td>{{u.MEKAN}}</td>
                                            <td>{{u.TARIH}}</td>
                                            <td>
                                                <i v-if="u.YOKLAMA_DURUM" class="fa fa-lg fa-check" style="color:#32c5d2;"></i>
                                                <i v-else class="fa fa-lg fa-close" style="color:red;"></i>
                                            </td>
                                            <td>{{u.YAZILI}}</td>
                                            <td>
                                                <button style='width:100%;' @click='KatilimBelgesi(u.ID_ZUMRECALISMAKATILIMCI)' :disabled="!u.YOKLAMA_DURUM" class='btn btn-sm blue'>
                                                    KATILIM BELGESİ <i class='fa fa-list'></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- END PORTLET-->
        </div>
    </div>
</div>

<script>
    var vue = new Vue({

        el: "#app",
        name: "Calismalarim.html",

        data: {
            CONTROLLER: 'ZumreCalismaCalismalarim',
            LISTE: [],
            TIMEOUT: null
        },

        mounted() {
            this.Listele();
        },

        methods: {
            Listele() {
                var p = {
                    TCKIMLIKNO: session.TCKIMLIKNO,
                    OTURUM: session.OTURUM
                };

                WebPost(this, this.CONTROLLER, "Calismalarim", p, '', '', function (data, parent) {
                    if (data != null && data.length > 0) {
                        vue.LISTE = JSON.parse(data);
                    }
                    else {
                        vue.LISTE = [];
                    }
                });
            },

            KatilimBelgesi(ID_ZUMRECALISMAKATILIMCI) {
    
                window.open("Rapor.aspx?raporTur=PDF&rapor=ZumreCalisma.KatilimBelgesi&p="
                    + session.TCKIMLIKNO + ";"
                    + session.OTURUM + ";"
                    + 0 + ";"
                    + 1258 + ";"
                    + ID_ZUMRECALISMAKATILIMCI
                );
            }

        }
    });
</script>
<script src="Scripts/PublicMethods.js"></script>
<script src="assets/global/plugins/icheck/icheck.min.js"></script>