<link href="assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" type="text/css" />
<style>
    td {
        vertical-align: middle !important;
    }

    .row {
        margin-top: 10px !important;
    }

    .modal-dialog {
        width: 400px;
    }

    table.dataTable {
        margin: 0px !important;
    }

    #table_soru img {
        max-width: 100% !important;
    }
</style>

<div class="page-head">
    <div class="page-title col-md-12">
        <h1> KITAP OKUMA <span onclick="YardimGoster(ID_MENU);" class="pull-right" style="cursor:pointer;"><img src="assets/global/img/info.gif" class="info-image-icon" /> </span></h1>
    </div>
</div>


<div class="row" id="app">
    <div class="col-md-12">
        <div class="portlet box green-haze dd-item" style="border:none">
            <div class="portlet-title dd-handle" data-toggle='collapse' data-target='#filters' style="cursor:pointer;">
                <div class="caption">
                    <i class="icon-magnifier"></i>
                    <span class="caption-subject bold uppercase"> Filtreler </span>
                    <span class="caption-helper"></span>
                </div>
                <div class='actions'>
                    <a href='javascript:;' class='btn btn-default btn-sm' style='border:none;'>
                        <i class='fa fa-chevron-down'></i>
                    </a>
                </div>
            </div>

            <!--Modal new Add Book. Start-->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content" style=" width: 140%;">
                        <div class="modal-header">
                            <h4 class="modal-title" id="exampleModalLabel">YENİ KİTAP EKLE</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <c-kademe3 :controller="controller"
                                           @OnChange="Kademe3Selected">
                                </c-kademe3>
                            </div>
                            <div class="row">
                                <c-sinif-alan-multi :controller="controller" 
                                                    @OnChange="SinifAlanSelected">
                                </c-sinif-alan-multi>
                            </div>
                            <div class="row">
                                <div class="form-md-line-input ">
                                    <label class="control-label col-md-3" style="vertical-align:middle;">Kitap Adı </label>
                                    <div class="col-md-9">
                                        <input type="text" placeholder="Kitap Adı" class="form-control spesificStyle" v-model="KITAP_ADI" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-md-line-input">
                                    <label class="control-label col-md-3" style="vertical-align:middle;">Açıklama </label>
                                    <div class="col-md-9">
                                        <input type="text" placeholder="Açıklama" class="form-control spesificStyle" v-model="KITAP_ACIKLAMA" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-md-line-input">
                                    <label class="control-label col-md-3" style="vertical-align:middle;">Başlangıç tarihi</label>
                                    <div class="col-md-9">
                                        <input type="date" id="dpBasTarih" class="form-control spesificStyle" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-md-line-input">
                                    <label class="control-label col-md-3" style="vertical-align:middle;">Bitiş Tarihi</label>
                                    <div class="col-md-9">
                                        <input type="date" id="dpBitTarih" class="form-control spesificStyle" />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-md-line-input">
                                    <label class="control-label col-md-3">Kitap Kapağı</label>
                                    <div class="col-md-9">
                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                            <div class="input-group">
                                                <div class="form-control uneditable-input input-fixed input-medium" data-trigger="fileinput" style="width: 100% !important; height: 34px;">
                                                    <i class="fa fa-file fileinput-exists"></i>&nbsp;
                                                    <span class="fileinput-filename"> </span>
                                                </div>
                                                <span class="input-group-addon btn default btn-file">
                                                    <span class="fileinput-new"> Dosya Seç </span>
                                                    <span class="fileinput-exists"> Değiştir </span>
                                                    <input type="file" name="..." id="ImgKitap">
                                                </span>
                                                <a href="javascript:;" class="input-group-addon btn red fileinput-exists" data-dismiss="fileinput"> Sil </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <input style="float:right;margin: 10px;" type="button" class="btn btn-success" v-on:click="Ekle" value="EKLE">
                            <input style="float:right;margin: 10px;" type="button" class="btn btn-secondary" data-dismiss="modal" value="İPTAL">
                        </div>
                    </div>
                </div>
            </div>
            <!--Modal new Add Book. END-->

            <div class="portlet-body form collapse in" id="filters">
                <form role="form" style="padding:12px 20px">
                    <div class="form-body form-group-lg form-horizontal row" style="padding: 0px;margin-top: 0px !important;">
                        <!--Click button open Modal. Start-->
                        <div class="col-lg-12">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" style="float: right; margin: -10px 6px 12px; font-size: 14px;">
                                YENİ KİTAP EKLE
                            </button>
                        </div>
                        <!--Click button open Modal. END-->
                        <div class="portlet light col-md-12" id="FiltreDivOgretmen" style="margin:0px; border-bottom-style: solid;border-bottom-width: 3px;border-bottom-color: rgb(0, 173, 239);">
                            <div class="portlet-body">
                                <div class="form-inline">
                                    <c-kademe3 :controller="controller"
                                               @OnChange="Kademe3Selected">
                                    </c-kademe3>
                                    <c-sinif-alan-multi :controller="controller"
                                                        @OnChange="SinifAlanSelected">
                                    </c-sinif-alan-multi>
                                    <input style="float:right;margin: 10px;" type="button" class="btn btn-success" v-on:click="Listele" value="Listele">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="portlet light col-md-12" id="FiltreDivOgrenci" style="margin:0px; border-bottom-style: solid;border-bottom-width: 3px;border-bottom-color: rgb(0, 173, 239);" v-if="divOgrenci==1">
        <div class="portlet-body">
            <div class="form-inline">

                <table id="TblOgr">
                    <thead>
                        <tr>
                            <th class="th-sm">
                                ADI
                            </th>
                            <th class="th-sm">
                                BASLAMA TARIHI
                            </th>
                            <th class="th-sm">
                                BITME TARIHI
                            </th>
                            <th>
                                GUNCERLE - SIL
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="u in LISTE">
                            <!--<td v-if="u.FOTOGRAF==''">
                                <img src="../../../img/okyanus_image.jpg" class='img-rounded' height="60" width="60" style="position:center" />
                            </td>
                            <td v-else>
                                <img :src='"data:image/png;base64,"+ u.FOTOGRAF' class='img-rounded' height="60" width="60" style="position:center" />
                            </td>-->
                            <td>{{u.K_ADI}}</td>
                            <td>{{u.K_BAS_TRH}}</td>
                            <td>{{u.K_BIT_TARIH}}</td>
                            <td><input style="float:right;margin: 10px;" type="button" class="btn btn-success" v-on:click="DemoLogin(u)" value="Giriş Yap"></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th class="th-sm">
                                ADI
                            </th>
                            <th class="th-sm">
                                BASLAMA TARIHI
                            </th>
                            <th class="th-sm">
                                BITME TARIHI
                            </th>
                            <th>
                                GUNCERLE - SIL
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="../../../VueComponents/Genel.js?v=3"></script>
<script src="../../VueComponents/Filtre.js"></script>
<script>


    var vue = new Vue({
        el: "#app",
        name: "KitapOkuma",


        data: {
            controller: "KitapOkuma",
            TCKIMLIKNO: '',
           /* DONEM: 0,*/ 
          /*  idsinav: 0,*/
            /* idsube: 0,*/
            idkademe3: 0,
           /* idsinif: 0,*/
            //tcogrenci: '',
            //oturumogrenci: '',
            /*idsube: [],*/
            LISTE: [],
            sinifAlanList: 0,
          /*  divOgrenci: 0,*/
            ID_KITAP: 0,
            KITAP_ADI: '',
            KITAP_ACIKLAMA: ''
        },

        mounted() {
            var _this = this;

            $("#TblOgr").DataTable().destroy();
            _this.$nextTick(function () {
                _this.ListeOlustur('TblOgr');
            });
        },

        methods: {


            Raporla: function (event) {
                $('#filters').collapse('hide');
                this.Getir();
            },

            Kademe3Selected(val) {
                this.idkademe3 = val;
            },
            SinifAlanSelected(item) {
                //this.sinifAlanList = $.grep(item, function (el,i) { return el!='Tümü' });
                this.sinifAlanList = item;
                this.divAc = 0;
            },
            //Kaydet() {

            //    vue.$forceUpdate();


            //    var p = {
            //        TCKIMLIKNO: session.TCKIMLIKNO,
            //        OTURUM: session.OTURUM,
            //        ID_SINIF: this.idsinif,
            //        ETUTLIST: JSON.stringify(this.DersProgramiList)
            //    };
            //    WebPost(this, "EtutSabitOlustur", "EtutSabitKaydet", p, "#app", "Yükleniyor...", function (data, parent) {

            //        if (data) {
            //            Alert_Info("Kayıt Yapıldı");
            //        } else {
            //            Alert_Error("Kayıt Yapılırken Hata Oluştu.");
            //        }
            //    });
            //},

            Listele() {
                var p = {
                    TCKIMLIKNO: session.TCKIMLIKNO,
                    OTURUM: session.OTURUM,
                    /* ID_SUBE: this.idsube,*/
                    ID_SINIF: this.sinifAlanList,
                    ID_KADEME3: this.idkademe3
                };

                WebPost(this, this.controller, "KitapListele", p, "#app", "Yükleniyor...", function (data, parent) {
                    parent.LISTE = JSON.parse(data);
                    ListeOlustur('TblOgr');
                });
            },

            Ekle() {
                debugger;
                vue = this;
                var basTarih = $("#dpBasTarih").val();
                var bitTarih = $("#dpBitTarih").val();

                if (basTarih == '' || bitTarih == '') {
                    Alert_Error("Lütfen tüm alanları doldurunuz!")
                    return;
                }
                var p = {
                    TCKIMLIKNO: session.TCKIMLIKNO,
                    OTURUM: session.OTURUM,
                    /* ID_SUBE: this.idsube,*/
                    ID_SINIF: this.sinifAlanList,
                    ID_KADEME3: this.idkademe3,
                    K_ADI: this.KITAP_ADI,
                    K_ACIKLAMA: this.KITAP_ACIKLAMA,
                    K_BAS_TRH: basTarih,
                    K_BIT_TARIH: bitTarih,
                    ID_KITAP: this.ID_KITAP
                };    
                WebPost(this, this.controller, "Kaydet", p, "#app", "Yükleniyor...", function (data, parent) {
                    debugger;
                    if (data) {
                        parent.ID_KITAP = JSON.parse(data);
                        

                        let x = document.getElementById("ImgKitap");
                        if ('files' in x) {

                            var formData = new FormData();
                            formData.append("file", x.files[0]);
                            formData.append("TCKIMLIKNO", session.TCKIMLIKNO);
                            formData.append("OTURUM", session.OTURUM);
                            formData.append("ID_KITAP", data);
                            $.ajax({
                                url: vue.controller + '/DosyaKaydet',
                                processData: false,
                                contentType: false,
                                data: formData,
                                type: 'POST'
                            }).done(function (result) {
                                App.unblockUI('#app');
                                if (result != null) {
                                    // vue.Kaydedildi();
                                }
                                else
                                    Alert_Error("Dosya Yüklenirken Hata Oluştu img1")
                            })
                        }
                        Alert_Info("Başarılı bir şekilde kaydeyildi. img2")
                    }
                   
                });
            },



            DemoLogin(u) {
                window.open('https://pusulam.okyanuskoleji.k12.tr/index.html?TC=' + u.TCKIMLIKNO + '&OTURUM=' + u.OTURUM, '_blank');
                return;
            },

            //ListeOlustur(tabloAdi) {
            //    this.tblSorular = $('#' + tabloAdi).DataTable(
            //        {
            //            "search": {
            //                "caseInsensitive": true
            //            },
            //            "aaSorting": [[3, 'asc']],
            //            language: {
            //                "url": "./Utility/dil.json"

            //            },
            //        });
            //},

        },
    });
</script>
<script src="Scripts/PublicMethods.js"></script>

<script src="assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js" type="text/javascript"></script>

