<style>
    td {
        vertical-align: middle !important;
    }

    .row {
        margin-top: 10px !important;
    }

    .TarihSecici {
        cursor: pointer;
        text-align: left;
        width: 100%;
        background: transparent;
        border: none;
        padding-left: 14px;
        padding-right: 14px;
        padding-top: 8px;
        padding-bottom: 7px;
    }
</style>
<div class="page-head">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title col-md-12">
        <h1>
            Periyot Listesi <span onclick="YardimGoster(ID_MENU);" class="pull-right" style="cursor:pointer;"><img src="assets/global/img/info.gif" class="info-image-icon" /> </span>
        </h1>
    </div>
    <!-- END PAGE TITLE -->
</div>

<div class="row" id="app">
    <div class="col-md-12">
        <div class="portlet box blue-hoki dd-item" style="border:none">
            <div class="portlet-title dd-handle" data-toggle='collapse' data-target='#filters' style="cursor:pointer;">
                <div class="caption">
                    <i class="icon-list"></i>
                    <span class="caption-subject bold uppercase"> Filtreler </span>
                    <span class="caption-helper"></span>
                </div>
                <div class='actions'>
                    <a href='javascript:;' class='btn btn-default btn-sm' style='border:none;'>
                        <i class='fa fa-chevron-down'></i>
                    </a>
                </div>
            </div>
            <!-- BEGIN PORTLET-->
            <div class="portlet-body form collapse in" id="filters">
                <form role="form" style="padding:12px 20px">
                    <div class="row">
                        <c-donem controller="DegerlendirmePeriyotTanimla"
                                 @OnChange="DonemSelected">
                        </c-donem>
                    </div>
                    <div class="row">
                        <c-kademe controller="DegerlendirmePeriyotTanimla"
                                  @OnChange="IdKademeSelected">
                        </c-kademe>
                    </div>
                    <div class="row">
                        <c-kullanici-tipi controller="DegerlendirmePeriyotTanimla"
                                          @OnChange="IdKullaniciTipiSelected">
                        </c-kullanici-tipi>
                    </div>

                    <div class="row">
                        <div class="form-group" style="margin-top:10px;">
                            <div class="col-md-12 text-right">
                                <button type="button" class="btn yellow" @click="EkleModal">Periyot Ekle</button>
                                <!--<button type="button" class="btn green" @click="SinavListele">Sınav Listele</button>-->
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-12" v-if="ID_KADEME != null && ID_KULLANICITIPI != null">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-list font-green"></i>
                    <span class="caption-subject bold font-green uppercase"> Periyot Listesi </span>
                    <span class="caption-helper"></span>
                </div>
            </div>
            <!-- BEGIN PORTLET-->
            <div class="portlet-body form">
                <form role="form">
                    <div class="portlet light bordered">
                        <div class="portlet-body">
                            <table class="table table-striped table-bordered table-hover table-checkable">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Başlangıç</th>
                                        <th>Bitiş</th>
                                        <th style="width:82px;">İŞLEM</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="odd gradeX" v-for="(u, index) in LISTE">
                                        <td>{{index + 1}}. Periyot</td>
                                        <td>
                                            {{u.BASLANGIC}}
                                            <!--<div class="dropdown-toggle btn grey-cararra" data-toggle="dropdown" role="button" title="Seçiniz.." style="width:100%; padding:0px;">
                                                <input type="text" :id="'bas-'+index" v-model="u.BASLANGIC" class="TarihSecici" readonly placeholder="Seçiniz..">
                                                <span class="bs-caret" style="position:absolute; right:12px; top:5px;">
                                                    <span class="caret"></span>
                                                </span>
                                            </div>-->
                                        </td>
                                        <td>
                                            {{u.BITIS}}
                                            <!--<div class="dropdown-toggle btn grey-cararra" data-toggle="dropdown" role="button" title="Seçiniz.." style="width:100%; padding:0px;">
                                                <input type="text" :id="'bit-'+index" v-model="u.BITIS" class="TarihSecici" readonly placeholder="Seçiniz..">
                                                <span class="bs-caret" style="position:absolute; right:12px; top:5px;">
                                                    <span class="caret"></span>
                                                </span>
                                            </div>-->
                                        </td>
                                        <td>
                                            <a style='width:100px;' @click='DuzenleModal(u.ID_DEGERLENDIRMEPERIYOT, u.BASLANGIC, u.BITIS)' class='btn btn-sm yellow'> DÜZENLE <i class='fa fa-pencil'></i></a>
                                            <a style='width:100px; margin-top:10px;' @click='Sil(u.ID_DEGERLENDIRMEPERIYOT)' class='btn btn-sm red'> SİL <i class='fa fa-trash'></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
            <!-- END PORTLET-->
        </div>
    </div>

    <div id="ekle_modal" class="modal fade in" tabindex="-1" data-replace="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Periyot Ekle</h4>
                </div>

                <div class="modal-body" style="padding-bottom:0px;" v-if="ITEM!=null">
                    <div class="form-body form-horizontal">
                        <div class="row" style="margin:0px;">
                            <div class="dropdown-toggle btn grey-cararra" data-toggle="dropdown" role="button" title="Başlangıç Seçiniz.." style="width:100%; padding:0px;">
                                <input type="text" id="bas" v-model="ITEM.BASLANGIC" class="TarihSecici" readonly placeholder="Başlangıç Seçiniz..">
                                <span class="bs-caret" style="position:absolute; right:12px; top:5px;">
                                    <span class="caret"></span>
                                </span>
                            </div>
                        </div>
                        <div class="row" style="margin:0px;">
                            <div class="dropdown-toggle btn grey-cararra" data-toggle="dropdown" role="button" title="Bitiş Seçiniz.." style="width:100%; padding:0px; margin-top:10px;">
                                <input type="text" id="bit" v-model="ITEM.BITIS" class="TarihSecici" readonly placeholder="Bitiş Seçiniz..">
                                <span class="bs-caret" style="position:absolute; right:12px; top:5px;">
                                    <span class="caret"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn green" @click="PeriyotEkle">{{ITEM==null || ITEM.ID_DEGERLENDIRMEPERIYOT==0?'Ekle':'Güncelle'}}</button>
                    <button type="button" class="btn default" data-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../VueComponents/SinavFiltreleri.js"></script>
<script src="../../VueComponents/YetkilendirmeFiltreleri.js?v=3"></script>

<script>
    var vue = new Vue({

        el: "#app",
        name: "DegerlendirmePeriyotTanimla.html",

        data: {
            DONEM: '',
            ID_KADEME: null,
            ID_KULLANICITIPI: null,
            LISTE: [],
            ITEM: null
        },

        mounted() {
        },

        methods: {
            DonemSelected(DONEM) {
                this.DONEM = DONEM;
            },

            IdKademeSelected(ID_KADEME) {
                this.ID_KADEME = ID_KADEME;
                this.Listele();
            },

            IdKullaniciTipiSelected(ID_KULLANICITIPI) {
                this.ID_KULLANICITIPI = ID_KULLANICITIPI;
                this.Listele();
            },

            PeriyotEkle() {
                var p = {
                    TCKIMLIKNO: session.TCKIMLIKNO,
                    OTURUM: session.OTURUM,
                    DONEM: this.DONEM,
                    ID_KADEME: this.ID_KADEME,
                    ID_KULLANICITIPI: this.ID_KULLANICITIPI,
                    SQLJSON: JSON.stringify(this.ITEM)
                };

                WebPost(this, "DegerlendirmePeriyotTanimla", "Kaydet", p, '', '', function (data, parent) {
                    if (data != null && data.length > 0) {
                        vue.LISTE = JSON.parse(data);
                        vue.$nextTick(function () {
                            $('#ekle_modal').modal('hide');
                        });
                        //$('#filters').collapse();
                    }
                    else {
                        vue.LISTE = [];
                    }
                });
            },

            Sil(ID) {
                Alert_Confirm("Emin misiniz?", "Periyot silinecek.", function () {
                    var p = {
                        TCKIMLIKNO: session.TCKIMLIKNO,
                        OTURUM: session.OTURUM,
                        DONEM: vue.DONEM,
                        ID_KADEME: vue.ID_KADEME,
                        ID_KULLANICITIPI: vue.ID_KULLANICITIPI,
                        ID_DEGERLENDIRMEPERIYOT: ID
                    };

                    WebPost(vue, "DegerlendirmePeriyotTanimla", "Sil", p, '', '', function (data, parent) {
                        if (data != null && data.length > 0) {
                            vue.LISTE = JSON.parse(data);
                        }
                        else {
                            vue.LISTE = [];
                        }
                    });
                });
            },

            Listele() {
                if (this.ID_KADEME != null && this.ID_KULLANICITIPI != null) {
                    var p = {
                        TCKIMLIKNO: session.TCKIMLIKNO,
                        OTURUM: session.OTURUM,
                        DONEM: this.DONEM,
                        ID_KADEME: this.ID_KADEME,
                        ID_KULLANICITIPI: this.ID_KULLANICITIPI
                    };

                    WebPost(this, "DegerlendirmePeriyotTanimla", "Listele", p, '', '', function (data, parent) {
                        if (data != null && data.length > 0) {
                            vue.LISTE = JSON.parse(data);
                            //$('#filters').collapse();
                        }
                        else {
                            vue.LISTE = [];
                        }
                    });
                }
            },
            
            EkleModal() {
                if (this.ID_KADEME != null && this.ID_KULLANICITIPI != null) {
                    this.ITEM = new Object();
                    this.ITEM.BASLANGIC = '';
                    this.ITEM.BITIS = '';
                    this.ITEM.ID_DEGERLENDIRMEPERIYOT = 0;
                    $('#ekle_modal').modal();

                    vue.$nextTick(function () {
                        $('.TarihSecici').each(function () {
                            $(this).datepicker({
                                format: 'dd.mm.yyyy',
                                language: 'tr'
                            }).on(
                                'changeDate', () => {
                                    var day1 = $(this).datepicker('getDate').getDate();
                                    var month1 = $(this).datepicker('getDate').getMonth() + 1;
                                    var year1 = $(this).datepicker('getDate').getFullYear();
                                    var fullDate = (day1 < 10 ? '0' + day1 : day1) + "." + (month1 < 10 ? '0' + month1 : month1) + "." + year1;

                                    var tur = $(this).attr('id');

                                    if (tur == 'bas') {
                                        vue.ITEM.BASLANGIC = fullDate;
                                    } else if (tur == 'bit') {
                                        vue.ITEM.BITIS = fullDate;
                                    }
                                }
                            );
                        });
                    });
                } else {
                    Alert_Warning("Kademe ve kullanıcı türü seçiniz!");
                }
            },

            DuzenleModal(ID, BASLANGIC, BITIS) {
                this.ITEM = new Object();
                this.ITEM.BASLANGIC = BASLANGIC;
                this.ITEM.BITIS = BITIS;
                this.ITEM.ID_DEGERLENDIRMEPERIYOT = ID;
                $('#ekle_modal').modal();

                vue.$nextTick(function () {
                    $('.TarihSecici').each(function () {
                        $(this).datepicker({
                            format: 'dd.mm.yyyy',
                            language: 'tr'
                        }).on(
                            'changeDate', () => {
                                var day1 = $(this).datepicker('getDate').getDate();
                                var month1 = $(this).datepicker('getDate').getMonth() + 1;
                                var year1 = $(this).datepicker('getDate').getFullYear();
                                var fullDate = (day1 < 10 ? '0' + day1 : day1) + "." + (month1 < 10 ? '0' + month1 : month1) + "." + year1;

                                var tur = $(this).attr('id');

                                if (tur == 'bas') {
                                    vue.ITEM.BASLANGIC = fullDate;
                                } else if (tur == 'bit') {
                                    vue.ITEM.BITIS = fullDate;
                                }
                            }
                        );
                    });
                });
            }
        }
    });
</script>
<script src="Scripts/PublicMethods.js"></script>
